<h3>
    La liste des ilots à désactiver
</h3>
<div fxLayout="row" fxLayoutAlign="start">
    <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
        <ng-select [items]="communeRemoteAutocomplete.listRessource$ | async" [typeahead]="communeRemoteAutocomplete.term" [loading]="communeRemoteAutocomplete.loading" (search)="onSearchCommune($event)" (change)="onChangeCommune($event)" appendTo="body" [selectOnTab]="true"
            bindLabel="nom" bindValue="id" labelForId="communeI" [(ngModel)]="communeIdIlot" [ngModelOptions]="{standalone: true}" placeholder="Commune">
            <ng-template ng-loadingspinner-tmp>
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ng-template>
        </ng-select>

    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start">
    <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
        <ng-select [items]="sectionRemoteAutocomplete.listRessource$ | async" [typeahead]="sectionRemoteAutocomplete.term" [virtualScroll]="true" [loading]="sectionRemoteAutocomplete.loading" (search)="onSearchSection($event)" (change)="onChangeSection($event)"
            appendTo="body" [selectOnTab]="true" bindLabel="libelle" bindValue="id" [(ngModel)]="sectionChoisieIdIlot" [ngModelOptions]="{standalone: true}" labelForId="sectionI" placeholder="Section">
            <ng-template ng-loadingspinner-tmp>
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
                <span *ngIf="item.numero">{{item.numero}}</span> <span *ngIf="item.numeroAncien">({{item.numeroAncien}})</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span *ngIf="item.numero" [ngOptionHighlight]="search">{{item.numero}}</span> <span *ngIf="item.numeroAncien" [ngOptionHighlight]="search">({{item.numeroAncien}})</span>
            </ng-template>
        </ng-select>

    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start">
    <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
        <ng-select [items]="ilotRemoteAutocomplete.listRessource$ | async" [typeahead]="ilotRemoteAutocomplete.term" [(ngModel)]="ilotsChoisieIdIlot" (change)="onChangeIlot($event)" [loading]="ilotRemoteAutocomplete.loading" (search)="onSearchIlot($event)" appendTo="body"
            [selectOnTab]="true" bindLabel="nom" bindValue="id" labelForId="ilots" placeholder="Ilots" [multiple]="true">
            <ng-template ng-loadingspinner-tmp>
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
                <span *ngIf="item.numero">{{item.numero}}</span> <span *ngIf="item.numeroAncien">({{item.numeroAncien}})</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span *ngIf="item.numero" [ngOptionHighlight]="search">{{item.numero}}</span> <span *ngIf="item.numeroAncien" [ngOptionHighlight]="search">({{item.numeroAncien}})</span>
            </ng-template>

            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">× </span>

                    <span *ngIf="item.numero">{{item.numero}}</span> <span *ngIf="item.numeroAncien">({{item.numeroAncien}})</span>

                </div>



                <div class="ng-value" *ngIf="items.length > 2">
                    <span class="ng-value-label">{{items.length - 2}} plus...</span>
                </div>
            </ng-template>

        </ng-select>

    </div>
</div>


<div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
    <table mat-table [dataSource]="dataSourceIlots" class="mat-elevation-z8 sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="90" [fxFlex.lg]="80" [fxFlex.xl]="70">
        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let element"> {{element?.numero}} </td>
        </ng-container>
        <ng-container matColumnDef="numeroAncien">
            <th mat-header-cell *matHeaderCellDef> Numero ancien</th>
            <td mat-cell *matCellDef="let element"> {{element?.numeroAncien}} </td>
        </ng-container>

        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef>Numéro section</th>
            <td mat-cell *matCellDef="let element"> {{element?.section?.numero}}</td>
        </ng-container>

        <ng-container matColumnDef="commune">
            <th mat-header-cell *matHeaderCellDef>Commune</th>
            <td mat-cell *matCellDef="let element"> {{element?.section?.commune?.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element;let i = index">
                <mat-icon class="sycad-element-clickable" (click)="supprimerIlot(element)">delete_forever</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
