<h3>
    La liste des parcelles à modifier
</h3>
<div *ngIf="majPlan">
    <div fxLayout="row" fxLayoutAlign="start">
        <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
            <ng-select [items]="communeRemoteAutocomplete.listRessource$ | async" [typeahead]="communeRemoteAutocomplete.term" [loading]="communeRemoteAutocomplete.loading" (search)="onSearchCommune($event)" (change)="onChangeCommune($event)" appendTo="body" [selectOnTab]="true"
                bindLabel="nom" bindValue="id" labelForId="communeM" [(ngModel)]="communeId" [ngModelOptions]="{standalone: true}" placeholder="Commune">
                <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
            </ng-select>

        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
            <ng-select [items]="sectionRemoteAutocomplete.listRessource$ | async" [typeahead]="sectionRemoteAutocomplete.term" [virtualScroll]="true" [loading]="sectionRemoteAutocomplete.loading" (search)="onSearchSection($event)" (change)="onChangeSection($event)"
                appendTo="body" [selectOnTab]="true" bindLabel="libelle" bindValue="id" [(ngModel)]="sectionChoisieId" [ngModelOptions]="{standalone: true}" labelForId="sectionM" placeholder="Section">
                <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span>{{item.numero}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien" [ngOptionHighlight]="search">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span [ngOptionHighlight]="search">{{item.numero}}</span>
                </ng-template>
            </ng-select>

        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <div class="sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
            <ng-select [items]="ilotRemoteAutocomplete.listRessource$ | async" [typeahead]="ilotRemoteAutocomplete.term" [(ngModel)]="ilotChoisieId" (change)="onChangeIlot($event)" [ngModelOptions]="{standalone: true}" [loading]="ilotRemoteAutocomplete.loading" (search)="onSearchIlot($event)"
                appendTo="body" [selectOnTab]="true" bindLabel="nom" bindValue="id" labelForId="ilotM" placeholder="Ilot">
                <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span>{{item.numero}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien" [ngOptionHighlight]="search">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span [ngOptionHighlight]="search">{{item.numero}}</span>
                </ng-template>
            </ng-select>

        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
        <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="55" [fxFlex.lg]="40" [fxFlex.xl]="30">
            <ng-select [items]="parcelleRemoteAutocomplte.listRessource$ | async" [typeahead]="parcelleRemoteAutocomplte.term" (change)="onChangeParcelle($event)" [loading]="parcelleRemoteAutocomplte.loading" (search)="onSearchParcelle($event)" appendTo="body" [selectOnTab]="true"
                bindLabel="numero" bindValue="id" labelForId="parcellesM" [(ngModel)]="parcelleChoisieId" placeholder="Parcelles" [multiple]="true">

                <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span>{{item.numero}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                    <span *ngIf="item.numeroAncien" [ngOptionHighlight]="search">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span [ngOptionHighlight]="search">{{item.numero}}</span>
                </ng-template>

                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">× </span>

                        <span *ngIf="item.numeroAncien"> Numéro ancien : </span>
                        <span *ngIf="item.numeroAncien">{{item.numeroAncien}}</span> <span *ngIf="item.numeroAncien"> -- </span> Numéro : <span>{{item.numero}}</span>

                    </div>



                    <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} plus...</span>
                    </div>
                </ng-template>

            </ng-select>

        </div>

    </div>
</div>




<form [formGroup]="parcellesAModifier" class="form-container">
    <div fxLayout="row" fxLayoutAlign="start">

        <div class="form-table-ilot-container mat-elevation-z8">

            <table mat-table [dataSource]="dataSource">
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="superficie">
                    <th mat-header-cell *matHeaderCellDef> Superficie </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element">

                        <mat-form-field appearance="outline">
                            <input matInput type="number" [attr.autocomplete]="'off'" formControlName="superficie">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="numero" sticky>
                    <th mat-header-cell *matHeaderCellDef [hidden]="!numero"> Numéro </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!numero">
                        <mat-form-field appearance="outline" *ngIf="majPlan">
                            <input matInput [attr.autocomplete]="'off'" formControlName="numero">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="numeroAncien">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!numero"> Numéro ancien </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!numero">

                        <mat-form-field appearance="outline" *ngIf="majPlan">
                            <input matInput [attr.autocomplete]="'off'" formControlName="numeroAncien">
                        </mat-form-field>
                    </td>
                </ng-container>


                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef> libelle </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput [attr.autocomplete]="'off'" formControlName="libelle">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="destination">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"> destination parcelle </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!majPlan">
                        <div class="sycad-form-ng-select-in-table" *ngIf="majPlan">


                            <ng-select [items]="destinationRemoteAutocomplete.listRessource$ | async" [typeahead]="destinationRemoteAutocomplete.term" [loading]="destinationRemoteAutocomplete.loading" (search)="onSearchDestination($event)" appendTo="body" [selectOnTab]="true" bindLabel="libelle"
                                bindValue="id" placeholder="Destination(*)" formControlName="destination">
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </ng-select>

                        </div>
                    </td>
                </ng-container>


                <ng-container matColumnDef="quartier">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"> quartier </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!majPlan">
                        <div class="sycad-form-ng-select-in-table" *ngIf="majPlan">
                            <ng-select [items]="quartierRemoteAutocomplete.listRessource$ | async" [typeahead]="quartierRemoteAutocomplete.term" [loading]="quartierRemoteAutocomplete.loading" (search)="onSearchQuartier($event)" appendTo="body" [selectOnTab]="true" bindLabel="nom"
                                bindValue="id" placeholder="Quartier " formControlName="quartier">
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="localite">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"> Localité </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!majPlan">
                        <div class="sycad-form-ng-select-in-table" *ngIf="majPlan">
                            <ng-select [items]="localiteRemoteAutocomplete.listRessource$ | async" [typeahead]="localiteRemoteAutocomplete.term" [loading]="localiteRemoteAutocomplete.loading" (search)="onSearchLocalite($event)" appendTo="body" [selectOnTab]="true" bindLabel="nom"
                                bindValue="id" placeholder="Localité (*)" formControlName="localite">
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"> Arrondissement zone </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!majPlan">
                        <div class="sycad-form-ng-select-in-table" *ngIf="majPlan">
                            <ng-select [items]="arrondissementZoneRemoteAutocomplete.listRessource$ | async" [typeahead]="arrondissementZoneRemoteAutocomplete.term" [loading]="arrondissementZoneRemoteAutocomplete.loading" appendTo="body" [selectOnTab]="true" bindLabel="libelle"
                                bindValue="id" placeholder="Zone d'arrondissement " formControlName="zone">
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="arrondissement">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"> Arrondissement </th>
                    <td mat-cell *matCellDef="let element" [formGroup]="element" [hidden]="!majPlan">
                        <div class="sycad-form-ng-select-in-table" *ngIf="majPlan">
                            <ng-select [items]="arrondissementRemoteAutocomplete.listRessource$ | async" [typeahead]="arrondissementRemoteAutocomplete.term" [groupBy]="groupByFnArrondissement" (change)="onChangeArrondissement($event)" [groupValue]="groupValueFnArrondissement" [loading]="arrondissementRemoteAutocomplete.loading"
                                (search)="onSearchArrondissement($event)" appendTo="body" [selectOnTab]="true" bindLabel="nom" bindValue="id" placeholder="Arrondissement (*)" formControlName="arrondissement">
                                <ng-template ng-optgroup-tmp let-item="item">
                                    <span style="vertical-align: middle;"> {{item.name}}</span>
                                </ng-template>
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let arrondissement of items | slice:0:5">
                                        <span class="ng-value-icon right" (click)="clear(arrondissement)" aria-hidden="true">× </span>
                                        <span class="ng-value-label"> {{arrondissement.nom}}</span>

                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 5">
                                        <span class="ng-value-label">{{items.length - 5}} plus...</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!majPlan"></th>
                    <td mat-cell *matCellDef="let element;let i = index" [hidden]="!majPlan">
                        <mat-icon class="sycad-element-clickable" (click)="supprimerParcelle(i)">delete_forever</mat-icon>
                    </td>
                </ng-container>



            </table>
        </div>
    </div>
</form>