<mat-card>
    <div class="sycad-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <form [formGroup]="formulaire" class="user-form" (ngSubmit)="onSubmit()">
        <mat-card-header>
            <mat-card-subtitle>
                <h3>
                    <span *ngIf="!contribuable.guid">Créer un contribuable </span>
                    <span *ngIf="contribuable.guid">Modifier: [{{contribuable.codeUnique}}]</span>
                </h3>
                <mat-error class="global-error-valiator" *ngIf="formErrors?.length>0">
                    La saisie du champ "{{formErrors[0]}}" a été détectée comme erronée.
                </mat-error>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <mat-tab-group>

          <mat-tab *ngIf="!contribuable.guid">
            <ng-template mat-tab-label>
              <mat-icon>face</mat-icon>
              Importation rapide
            </ng-template>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>face</mat-icon>
                  ONI
                </ng-template>
                <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                  <ng-template [ngIf]="!contribuable.guid">
                    <app-recherche-oni [typePiece]="'01'" [typeContribuable]="'CONTRIBUABLEPHYSIQUE'" (trouveContribuable)="trouveContribuableONI($event)" [urlRedirect]="getUrlRedirect()" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100"></app-recherche-oni>
                  </ng-template>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>face</mat-icon>
                  IFU
                </ng-template>
                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                    <ng-template [ngIf]="!contribuable.guid">
                      <app-recherche-ifu [typeContribuable]="'CONTRIBUABLEPHYSIQUE'" (trouveContribuable)="trouveContribuable($event)" [urlRedirect]="getUrlRedirect()" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100"></app-recherche-ifu>
                    </ng-template>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="sycad-form-tab-label-icon">face</mat-icon>
              Identification
            </ng-template>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>face</mat-icon>
                  Information de base
                </ng-template>
                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">

                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="25" [fxFlex.xl]="20">
                      <mat-label>Nom (*)</mat-label>
                      <input matInput placeholder="Nom" [attr.autocomplete]="'off'" formControlName="nom" />

                      <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.errors?.required">
                        Le nom est obligatoire
                      </mat-error>
                      <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && ( nom.errors?.minlength || nom.errors?.maxlength)">
                        La taille du nom est limité entre 2 et 150 caractères
                      </mat-error>
                    </mat-form-field>


                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="20" [fxFlex.xl]="20">
                      <mat-label>Nom Jeune fille</mat-label>
                      <input matInput placeholder="Nom jeune fille" [attr.autocomplete]="'off'" formControlName="nomDeJeuneFille" />
                    </mat-form-field>
                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="90" [fxFlex.lg]="40" [fxFlex.xl]="30">
                      <mat-label>Prénom(s) (*)</mat-label>
                      <input matInput placeholder="Prénom(s)" [attr.autocomplete]="'off'" formControlName="prenoms" />
                      <mat-error *ngIf="prenoms.invalid && (prenoms.dirty || prenoms.touched) && prenoms.errors?.required">
                        Le prénom est obligatoire
                      </mat-error>
                      <mat-error *ngIf="prenoms.invalid && (prenoms.dirty || prenoms.touched) && ( prenoms.errors?.minlength || prenoms.errors?.maxlength )">
                        La taille du prénom est limité entre 2 et 150 caractères
                      </mat-error>
                    </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="25" [fxFlex.xl]="20">
                      <mat-label>Date de naissance (*)</mat-label>
                      <input matInput [matDatepicker]="dateDeNaissance" formControlName="dateNaissance">
                      <mat-datepicker-toggle matSuffix [for]="dateDeNaissance"></mat-datepicker-toggle>
                      <mat-datepicker #dateDeNaissance></mat-datepicker>
                      <mat-error *ngIf="dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched) && dateNaissance.errors?.required">
                        La date de naissance est obligatoire
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="25" [fxFlex.xl]="20">
                      <mat-label>Lieu de naissance</mat-label>
                      <input matInput placeholder="lieuNaissance" [attr.autocomplete]="'off'" formControlName="lieuNaissance" />
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">

                    <mat-radio-group formControlName="genre" aria-labelledby="contribuable-genre" class="sycad-form-line container-form-field-radio " [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="30" [fxFlex.lg]="20" [fxFlex.xl]="20">
                      <label id="contribuable-genre">Choisir le genre </label>
                      <mat-radio-button value="FEMME" labelPosition="after" class="sycad-field-radio-button-horizontal">Femme</mat-radio-button>
                      <mat-radio-button value="HOMME" labelPosition="after" class="sycad-field-radio-button-horizontal">Homme</mat-radio-button>

                      <mat-error *ngIf="genre.invalid && (genre.dirty || genre.touched) && genre.errors?.required">
                        Le genre est obligatoire
                      </mat-error>
                    </mat-radio-group>


                    <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="25">
                      <ng-select [items]="civilityRemoteAutocomplete.listRessource$ | async" [typeahead]="civilityRemoteAutocomplete.term" [loading]="civilityRemoteAutocomplete.loading" (search)="onSearchCivilite($event)" appendTo="body" [selectOnTab]="true" bindLabel="libelle"
                                 bindValue="id" labelForId="civilite" placeholder="Cilivité " formControlName="civilite">
                        <ng-template ng-loadingspinner-tmp>
                          <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </ng-template>
                      </ng-select>

                    </div>
                  </div>


                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">



                    <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="25">
                      <ng-select [items]="situationMatrimonialeRemoteAutocomplete.listRessource$ | async" [typeahead]="situationMatrimonialeRemoteAutocomplete.term" [loading]="situationMatrimonialeRemoteAutocomplete.loading" (search)="onSearchSituationMatrimonial($event)"
                                 appendTo="body" [selectOnTab]="true" bindLabel="libelle" bindValue="id" placeholder="Situation matrimoniale" formControlName="situationMatrimoniale">
                        <ng-template ng-loadingspinner-tmp>
                          <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </ng-template>
                      </ng-select>

                    </div>
                  </div>




                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">


                    <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="25">
                      <ng-select [items]="nationnaliteRemoteAutocomplete.listRessource$ | async" [typeahead]="nationaliteRemoteAutocomplete.term" [loading]="nationnaliteRemoteAutocomplete.loading" (search)="onSearchNationnalite($event)" appendTo="body" [selectOnTab]="true"
                                 bindLabel="libelle" bindValue="id" placeholder="Nationalite " formControlName="nationalite">
                        <ng-template ng-loadingspinner-tmp>
                          <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </ng-template>
                      </ng-select>

                    </div>

                    <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="25">
                      <ng-select [items]="professionRemoteAutocomplete.listRessource$ | async" [typeahead]="professionRemoteAutocomplete.term" [loading]="professionRemoteAutocomplete.loading" (search)="onSearchProfession($event)" appendTo="body" [selectOnTab]="true" bindLabel="nom"
                                 bindValue="id" placeholder="Profession  (*)" formControlName="profession">
                        <ng-template ng-loadingspinner-tmp>
                          <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </ng-template>
                      </ng-select>
                      <mat-error *ngIf="profession.invalid && (profession.dirty || profession.touched) && profession.errors?.required">
                        La profession est obligatoire
                      </mat-error>
                    </div>
                  </div>
                </div>


                <div fxLayout="row" fxLayoutAlign="start">
                  <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="50">
                    <mat-card-header>
                      <mat-card-title>Pièce d'identification </mat-card-title>
                    </mat-card-header>
                    <app-piece-officielle-form [formGroup]="pieceOfficielle" [contribuableType]="'CONTRIBUABLEPHYSIQUE'" [touched]="pieceOfficielle.touched"></app-piece-officielle-form>
                  </mat-card>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>face</mat-icon>
                  Filiation
                </ng-template>

                <div fxLayout="column" class="flex-p">
                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="50" [fxFlex.xl]="50">
                        <mat-label>Nom et Prénom(s) du père</mat-label>
                        <input matInput placeholder="Nom du père" [attr.autocomplete]="'off'" formControlName="nomPere" />
                      </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="50" [fxFlex.xl]="50">
                        <mat-label>Nom et Prénom(s) de la mère</mat-label>
                        <input matInput placeholder="Nom de la mère" [attr.autocomplete]="'off'" formControlName="nomMere" />
                      </mat-form-field>
                    </div>
                </div>
              </mat-tab>


              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">payment</mat-icon>
                  Pièces supplémentaires
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">

                    <button type="button" mat-flat-button color="primary" (click)="addNewPieceIdentiteInfo()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10" [fxFlex.xl]="30"
                            [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon> Ajouter une nouvelle pièce d'identité
                    </button>

                  </div>

                  <ng-container *ngIf="getFormPieceComplementaire.controls.length>0">
                    <ng-template ngFor let-pieceIdentite [ngForOf]="getFormPieceComplementaire.controls" let-i="index">

                      <div class="card-container-form-element y-1" fxLayout="row" fxLayoutAlign="start">
                        <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="50">
                          <button mat-icon-button matSuffix color="warn" class="delete-icons" type="button">
                            <mat-icon (click)="removePieceIdentite(i)">remove_circle</mat-icon>
                          </button>

                          <app-piece-officielle-form [formGroup]="pieceIdentite" [contribuableType]="'CONTRIBUABLEPHYSIQUE'" [touched]="pieceIdentite.touched"></app-piece-officielle-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="sycad-form-tab-label-icon">location_on</mat-icon>
              Adresses
            </ng-template>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">location_on</mat-icon>
                  Adresses
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">


                    <button mat-raised-button type="button" color="primary" (click)="addNewAdresse()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10" [fxFlex.xl]="30"
                            [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon>
                      Ajouter une Adresse
                    </button>
                  </div>

                  <ng-container *ngIf="adresses.controls.length>0">
                    <ng-template ngFor let-adresse [ngForOf]="adresses.controls" let-i="index">

                      <div fxLayout="row" fxLayoutAlign="start">
                        <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="60">
                          <button mat-icon-button matSuffix type="button" color="warn" class="delete-icons">
                            <mat-icon (click)="removeAdresse(i)">remove_circle</mat-icon>
                          </button>

                          <app-adresse-form [formGroup]="adresse" (changeAdressePrincipal)="onChangeAdressePrincipal($event)" [touched]="adresse.touched"></app-adresse-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">person_pin</mat-icon>
                  Contacts Personne
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">


                    <button mat-raised-button type="button" color="primary" (click)="addNewPersonnesContactsInfo()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10"
                            [fxFlex.xl]="30" [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon>
                      Ajouter une personne contact
                    </button>
                  </div>

                  <ng-container *ngIf="personnesContacts.controls.length>0">
                    <ng-template ngFor let-personneContact [ngForOf]="personnesContacts.controls" let-i="index">

                      <div fxLayout="row" fxLayoutAlign="start">
                        <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="60">
                          <button mat-icon-button matSuffix type="button" color="warn" class="delete-icons">
                            <mat-icon (click)="removePersonnesContact(i)">remove_circle</mat-icon>
                          </button>

                          <app-personne-contact-form [formGroup]="personneContact"></app-personne-contact-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">contact_phone</mat-icon>
                  Téléphones
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">


                    <button mat-raised-button type="button" color="primary" (click)="addNewTelephone()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10" [fxFlex.xl]="30"
                            [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon>
                      Ajouter un numéro de téléphone
                    </button>
                  </div>

                  <ng-container *ngIf="telephones.controls.length>0">
                    <ng-template ngFor let-telephone [ngForOf]="telephones.controls" let-i="index">

                      <div fxLayout="row" fxLayoutAlign="start">
                        <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="60">
                          <button mat-icon-button matSuffix color="warn" type="button" class="delete-icons">
                            <mat-icon (click)="removeTelephones(i)">remove_circle</mat-icon>
                          </button>

                          <app-telephone-form [formGroup]="telephone" (changeTelephonePrincipal)="onChangeTelephonePrincipal($event)" [touched]="telephone.touched"></app-telephone-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>



              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">contact_mail</mat-icon>
                  Emails
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">


                    <button mat-raised-button type="button" color="primary" (click)="addNewEmail()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10" [fxFlex.xl]="30"
                            [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon>
                      Ajouter une adresse mail
                    </button>
                  </div>

                  <ng-container *ngIf="emails.controls.length>0">
                    <ng-template ngFor let-email [ngForOf]="emails.controls" let-i="index">

                      <div fxLayout="row" fxLayoutAlign="start">
                        <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="60">
                          <button mat-icon-button matSuffix type="button" color="warn" class="delete-icons">
                            <mat-icon (click)="removeEmails(i)">remove_circle</mat-icon>
                          </button>

                          <app-email-form [formGroup]="email" (changeEmailPrincipal)="onChangeEmailPrincipal($event)" [touched]="email.touched"></app-email-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="sycad-form-tab-label-icon">phone_android</mat-icon>
                  Réseaux sociaux
                </ng-template>

                <div fxLayout="column" class="flex-p">

                  <div fxLayout="row" fxLayoutAlign="start center">


                    <button mat-raised-button type="button" color="primary" (click)="addNewReseauSocial()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10" [fxFlex.lg]="25" [fxFlexOffset.md]="10" [fxFlex.xl]="30"
                            [fxFlexOffset]="10">
                      <mat-icon class="icon-sm">add</mat-icon>
                      Ajouter un réseau social
                    </button>
                  </div>

                  <ng-container *ngIf="reseauSociaux.controls.length>0">
                    <ng-template ngFor let-reseauSocial [ngForOf]="reseauSociaux.controls" let-i="index">

                      <div fxLayout="row" fxLayoutAlign="start">
                        <mat-card class="card-container-form-element y-1" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="60">
                          <button mat-icon-button matSuffix type="button" color="warn" class="delete-icons">
                            <mat-icon (click)="removeReseauSocial(i)">remove_circle</mat-icon>
                          </button>

                          <app-reseau-sociaux-form [formGroup]="reseauSocial" [touched]="reseauSocial.touched"></app-reseau-sociaux-form>

                        </mat-card>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="sycad-form-tab-label-icon">security</mat-icon>
              Compte utilisateur
            </ng-template>

            <div fxLayout="column" class="flex-p">

              <app-credential-form [formGroup]="formulaire"></app-credential-form>
            </div>
          </mat-tab>
        </mat-tab-group>


        </mat-card-content>

        <mat-card-actions [ngClass]="{'card-action-form': (activeMediaQuery === 'lg' || activeMediaQuery === 'xl' ), 'card-action-form-small': (activeMediaQuery === 'sm') }">
            <div fxLayout="row" fxLayout="row" [fxLayoutGap]="'20px'" fxLayoutAlign="end center">
                <button mat-raised-button color="warn" (click)="resetForm()" type="button">Annuler</button>

                <button mat-raised-button color="primary" type="submit" [disabled]="!formulaire.valid">
                    <span *ngIf="!contribuable.guid">Enregistrer</span><span *ngIf="contribuable.guid">Mettre à
                        jour</span>
                </button>
            </div>
        </mat-card-actions>

    </form>
</mat-card>
