<form [formGroup]="formulaire">

    <mat-horizontal-stepper linear #stepper>

        <mat-step [editable]="true">

            <ng-template matStepLabel>Informations de bases</ng-template>

            <app-dossier-form [formGroup]="dossier"></app-dossier-form>

            <div class="card-action-form">
                <div fxLayout="row" [fxLayoutGap]="'20px'" fxLayoutAlign="end center">
                    <button mat-raised-button type="button" mat-button (click)="stepper.reset()">Reinitialiser</button>
                    <button mat-raised-button color="warn" (click)="resetForm()" type="button">Annuler</button>
                    <button mat-raised-button color="primary" type="button" matStepperNext>Suivant</button>
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!formulaire.valid">{{transition.libelle}}</button>
                </div>
            </div>

        </mat-step>
        <mat-step [editable]="true">
            <ng-template matStepLabel>Exoneration</ng-template>
            <mat-tab-group>
                <form [formGroup]="exonerationForm">
                    <!--
              <mat-tab>
              <ng-template matStepLabel>Bénéficiaire</ng-template>
              <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                  <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="70" [fxFlex.lg]="45" [fxFlex.xl]="23">
                      <app-field-remote-autocomplete [dataForm]="contribuableBeneficiaireRemoteAutocomplete" (formAddModal)="openFormAddModal($event)" (subjectCompleteEvent)="receiveSubjectContribuableBeneficiaire($event)">
                      </app-field-remote-autocomplete>
                  </div>
              </div>
              <div *ngIf="contribuableBeneficiaireChoisie" fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                  <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
                      <mat-card-header>
                          <mat-card-title>
                              Détail contribuable
                          </mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                          <app-card-general-contribuable-form [contribuable]="contribuableBeneficiaireChoisie"></app-card-general-contribuable-form>
                      </mat-card-content>
                  </mat-card>
              </div>
          </mat-tab>
         -->
                    <mat-tab>
                        <ng-template matTabLabel>Parcelle</ng-template>
                        <app-choix-parcelle-form formControlName="parcelle" [callbackAutocompleteParcelle]="callbackAutocompleteParcelleByIlotByConnected" [parcelleChoisie]="exonerationDossier.exoneration.parcelle" [proprietaire]="contribuableBeneficiaireChoisie?.guid"></app-choix-parcelle-form>
                    </mat-tab>
                    <mat-tab>
                        <ng-template matTabLabel>Exoneration</ng-template>
                        <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                            <ng-select [items]="categorieRemoteAutocomplete.listRessource$ | async" [typeahead]="categorieRemoteAutocomplete.term" [loading]="categorieRemoteAutocomplete.loading" (search)="onSearchCategorie($event)" appendTo="body" [selectOnTab]="true" bindLabel="motif"
                                bindValue="id" placeholder="Catégorie de l'exoneration" formControlName="categorie">
                                <ng-template ng-loadingspinner-tmp>
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                            <div class="sycad-form-line sycad-form-ng-select" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <ng-select [items]="natureImpotRemoteAutocomplete.listRessource$ | async" [typeahead]="natureImpotRemoteAutocomplete.term" [loading]="natureImpotRemoteAutocomplete.loading" (search)="onSearchNatureImpot($event)" appendTo="body" [selectOnTab]="true" bindLabel="libelle"
                                    bindValue="id" placeholder="Nature d'impôt" formControlName="natureImpot">
                                    <ng-template ng-loadingspinner-tmp>
                                        <div class="lds-ellipsis">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Référence externe</mat-label>
                                <input matInput placeholder="Référence externe" [attr.autocomplete]="'off'" formControlName="refExterne" />
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Montant</mat-label>
                                <input matInput placeholder="montant" [attr.autocomplete]="'off'" formControlName="montant" type="number" />
                            </mat-form-field>
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Taux</mat-label>
                                <input matInput placeholder="Taux" [attr.autocomplete]="'off'" formControlName="taux" type="number" />
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Date de début</mat-label>
                                <input matInput [matDatepicker]="dateDebut" formControlName="dateDebut">
                                <mat-datepicker-toggle matSuffix [for]="dateDebut"></mat-datepicker-toggle>
                                <mat-datepicker #dateDebut></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Date de fin</mat-label>
                                <input matInput [matDatepicker]="dateFin" formControlName="dateFin">
                                <mat-datepicker-toggle matSuffix [for]="dateFin"></mat-datepicker-toggle>
                                <mat-datepicker #dateFin></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Motif</mat-label>
                                <input matInput placeholder="Motif" [attr.autocomplete]="'off'" formControlName="motif" />
                            </mat-form-field>
                            <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="52" [fxFlex.xl]="20">
                                <mat-label>Observation</mat-label>
                                <input matInput placeholder="Observation" [attr.autocomplete]="'off'" formControlName="observation" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start center">
                            <div [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
                                <button mat-icon-button color="warn" class="delete-icons-2" type="button">
            <mat-icon (click)="resetDropZone()">clear</mat-icon>
          </button>
                                <span *ngIf="documentPiece"> <a href="{{documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
                                <dropzone class="dropzone-container" [config]="config" [message]="'Cliquez ou faites glisser la pièce ici jointe'" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
                                </dropzone>
                            </div>
                        </div>
                        <div class="card-action-form">
                            <div fxLayout="row" [fxLayoutGap]="'20px'" fxLayoutAlign="end center">
                                <button mat-raised-button type="button" mat-button (click)="stepper.reset()">Reinitialiser</button>
                                <button mat-raised-button color="warn" (click)="resetForm()" type="button">Annuler</button>
                                <button mat-raised-button type="button" mat-button matStepperPrevious>Précédent</button>
                                <button mat-raised-button type="button" color="primary" mat-button matStepperNext>Suivant</button>
                                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!formulaire.valid">{{transition.libelle}}</button>
                            </div>
                        </div>

                    </mat-tab>
                </form>
            </mat-tab-group>
        </mat-step>
        <mat-step [stepControl]="pieces" [editable]="true">
            <form [formGroup]="pieces">
                <ng-template matStepLabel>Pièces jointes</ng-template>
                <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                    <div fxLayout="column" class="flex-p" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="70" [fxFlex.xl]="50">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button type="button" mat-flat-button color="primary" [disabled]="categoriePieceProcessus$.length==0" (click)="addNewDossierPiece()" [fxFlex.xs]="100" [fxFlexOffset.xs]="0" [fxFlex.sm]="70" [fxFlexOffset.sm]="10" [fxFlex.md]="50" [fxFlexOffset.md]="10"
                                [fxFlex.lg]="50" [fxFlexOffset.md]="10" [fxFlex.xl]="50" [fxFlexOffset]="10">
                <mat-icon class="icon-sm">add</mat-icon> Ajouter une nouvelle pièce
              </button>
                        </div>
                        <ng-template ngFor let-pieces [ngForOf]="pieces.controls" let-i="index">
                            <div class="card-container-form-element y-1" fxLayout="row" fxLayoutAlign="start">
                                <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">

                                    <button mat-icon-button matSuffix color="warn" class="delete-icons" type="button">
                    <mat-icon (click)="removeDossierPiece(i)">remove_circle</mat-icon>
                  </button>
                                    <app-dossier-piece-form [formGroup]="pieces" [categoriePieceProcessus]="categoriePieceProcessus$" (changeCategoriePiece)="changeCategoriePiece($event)" [touched]="pieces.touched"></app-dossier-piece-form>
                                </mat-card>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="card-action-form">
                    <div fxLayout="row" [fxLayoutGap]="'20px'" fxLayoutAlign="end center">
                        <button mat-raised-button type="button" mat-button (click)="stepper.reset()">Reinitialiser</button>
                        <button mat-raised-button color="warn" (click)="resetForm()" type="button">Annuler</button>
                        <button mat-raised-button type="button" mat-button matStepperPrevious>Précédent</button>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Suivant</button>
                        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!formulaire.valid">{{transition.libelle}}</button>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

</form>