
.sycad-form-ng-select {
  width: 100%;
  max-width: 300px; /* Ajustez en fonction de la taille souhaitée */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.ng-select {
  width: 100%;
}

.ng-select.ng-select-single .ng-select-container {
  min-height: 40px; /* Ajustez la hauteur si nécessaire */
}

.ng-select .ng-select-container .ng-value-container .ng-input input {
  padding: 0 10px;
}


#ilot-parcelles .table-container {
  width: 100%;
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
  margin-top: 20px; /* Espace au-dessus du tableau */
}

#ilot-parcelles table.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse; /* Fusionne les bordures pour un meilleur affichage */
}

#ilot-parcelles table.mat-elevation-z8 th,
table.mat-elevation-z8 td {
  //padding: 8px 16px;
  text-align: left;
}

#ilot-parcelles table.mat-elevation-z8 th {
  background-color: #f5f5f5; /* Couleur de fond pour les en-têtes */
  border-bottom: 2px solid #ddd; /* Bordure en bas des en-têtes */
}

#ilot-parcelles table.mat-elevation-z8 td {
  border-bottom: 1px solid #ddd; /* Bordure en bas des cellules */
}

#ilot-parcelles .table-container mat-paginator {
  margin-top: 15px; /* Espace au-dessus de la pagination */
}


#ilot-parcelles .nested-table-element-detail {
  background-color: #f9f9f9; /* Fond pour la partie des détails étendus */
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre */

  //animation: expandDetail 0.1ms ease-in-out;
  overflow: hidden;
  display: flex;
}

#ilot-parcelles .nested-table-element-row {
  cursor: pointer;
}


@keyframes expandDetail {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}


#ilot-parcelles .nested-table-detail-row {
  height: 0;
}
