.login_page_wrapper {
  padding-top: 48px;
}

.body-login {
  background-color: grey;
}

.logo img {
  width: 170px;
}

.box-content-header {
  font-size: 16px;
  text-transform: none !important;
  font-weight: 500;
}

.marginButton {
  margin-top: 150px;
}
.marginButtonSend {
  margin-top: 100px;
  bottom: -20px !important;
}
