
table{
  width: 100%;
  border-collapse: collapse; /* Assure une bonne structure de tableau */
}

/* Style spécifique pour la colonne "numero" */
.mat-column-numero {
  width: 200px;
}

/* Style spécifique pour la colonne "numeroAncien" */
.mat-column-numeroAncien {
  width: 200px;
}


/* Style spécifique pour la colonne "numeroAncien" */
.mat-column-commune {
  width: 200px;
}

/* Style spécifique pour la colonne "section" */
.mat-column-actions {
  width: 100px;
}

/* Style pour le conteneur du champ de formulaire Material */
.mat-form-field-wrapper {
  padding-bottom: 0px;
}


/* Pour les écrans de petite taille (moins de 768px) */
@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto; /* Scrolling horizontal seulement */
    -webkit-overflow-scrolling: touch; /* Amélioration pour scrolling fluide sur iOS */
  }

  /* Ajuster les colonnes pour les petits écrans */
  .mat-column-numero,
  .mat-column-numeroAncien,
  .mat-column-commune,
  .mat-column-actions {
    min-width: 100px; /* Réduire la largeur des colonnes */
  }
}

/* Pour les écrans très petits (moins de 480px) */
@media screen and (max-width: 480px) {
  .table-container {
    overflow-x: auto;
  }

  .mat-column-numero,
  .mat-column-numeroAncien,
  .mat-column-commune,
  .mat-column-actions {
    min-width: 80px;
  }
}
