



<div fxLayout="row"  fxLayout.lt-lg="row wrap"  fxLayoutGap="20px">
<!--  Partie  affichage attribut-->
  <div [fxFlex]="100" [fxFlex.xs]="100"
       [fxFlex.sm]="100" [fxFlex.md]="100"
       [fxFlex.lg]="30" [fxFlex.xl]="30" >
    <div *ngIf="parcelleChoisie && parcelleChoisie.id" fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start" >
      <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
        <mat-label>Région</mat-label>
        <input matInput value="{{parcelleChoisie.arrondissement?.commune?.province?.region?.nom}}" [readonly]="true">
      </mat-form-field>

      <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
        <mat-label>Province</mat-label>
        <input matInput value="{{parcelleChoisie.arrondissement?.commune?.province?.nom}}" [readonly]="true">
      </mat-form-field>

    </div>
    <div *ngIf="parcelleChoisie && parcelleChoisie.id" fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
      <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
        <mat-label>Arrondissement</mat-label>
        <input matInput value="{{parcelleChoisie.arrondissement?.nom}}" [readonly]="true">
      </mat-form-field>

      <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
        <mat-label>Localité</mat-label>
        <input matInput value="{{parcelleChoisie.localite?.nom}}" [readonly]="true">
      </mat-form-field>
    </div>
      <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">

           <div class="sycad-form-ng-select" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
             <ng-select [items]="communeRemoteAutocomplete.listRessource$ | async" [typeahead]="communeRemoteAutocomplete.term" [loading]="communeRemoteAutocomplete.loading" (search)="onSearchCommune($event)" (change)="onChangeCommune($event)" appendTo="body" [selectOnTab]="true"
                        bindLabel="nom" bindValue="id" labelForId="commune" [(ngModel)]="communeId" [ngModelOptions]="{standalone: true}" placeholder="Commune">
               <ng-template ng-loadingspinner-tmp>
                 <div class="lds-ellipsis">
                   <div></div>
                   <div></div>
                   <div></div>
                   <div></div>
                 </div>
               </ng-template>
             </ng-select>
           </div>

           <div class="sycad-form-ng-select" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
            <ng-select [items]="arrondissementRemoteAutocomplete.listRessource$ | async" [typeahead]="arrondissementRemoteAutocomplete.term" [virtualScroll]="true" [loading]="arrondissementRemoteAutocomplete.loading" (search)="onSearchArrondissement($event)" (change)="onChangeArrondissement($event)"
                       appendTo="body" [selectOnTab]="true" bindLabel="nom" bindValue="id" [(ngModel)]="arrondissementChoisiId" [ngModelOptions]="{standalone: true}" labelForId="arrondissement" placeholder="Arrondissement">
              <ng-template ng-loadingspinner-tmp>
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                (<span *ngIf="item.code">{{item.code}}</span>) 
                <span *ngIf="item.code">{{item.nom}}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item"
                           let-index="index"
                           let-search="searchTerm">
                (<span *ngIf="item.code"
                 [ngOptionHighlight]="search">{{item.code}}</span>) 
                 <span *ngIf="item.nom"
                 [ngOptionHighlight]="search">{{item.nom}}</span>
              </ng-template>
            </ng-select>
          </div>

           <div class="sycad-form-ng-select" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
             <ng-select [items]="sectionRemoteAutocomplete.listRessource$ | async" [typeahead]="sectionRemoteAutocomplete.term" [virtualScroll]="true" [loading]="sectionRemoteAutocomplete.loading" (search)="onSearchSection($event)" (change)="onChangeSection($event)"
                        appendTo="body" [selectOnTab]="true" bindLabel="libelle" bindValue="id" [(ngModel)]="sectionChoisieId" [ngModelOptions]="{standalone: true}" labelForId="section" placeholder="Section">
               <ng-template ng-loadingspinner-tmp>
                 <div class="lds-ellipsis">
                   <div></div>
                   <div></div>
                   <div></div>
                   <div></div>
                 </div>
               </ng-template>
               <ng-template ng-label-tmp let-item="item">
                 <span *ngIf="item.numero">{{item.numero}}</span>
                 <span
                   *ngIf="item.numeroAncien"> ({{item.numeroAncien}}
                   )</span>
               </ng-template>
               <ng-template ng-option-tmp let-item="item"
                            let-index="index"
                            let-search="searchTerm">
            <span *ngIf="item.numero"
                  [ngOptionHighlight]="search">{{item.numero}}</span>
                 <span *ngIf="item.numeroAncien"
                       [ngOptionHighlight]="search"> ({{item.numeroAncien}}
                   )</span>
               </ng-template>
             </ng-select>
           </div>
         </div>

        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
                 <div class="sycad-form-ng-select" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
                   <ng-select [items]="ilotRemoteAutocomplete.listRessource$ | async" [typeahead]="ilotRemoteAutocomplete.term" [(ngModel)]="ilotChoisieId" (change)="onChangeIlot($event)" [ngModelOptions]="{standalone: true}" [loading]="ilotRemoteAutocomplete.loading" (search)="onSearchIlot($event)"
                              appendTo="body" [selectOnTab]="true" bindLabel="nom" bindValue="id" labelForId="ilot" placeholder="Ilot">
                     <ng-template ng-loadingspinner-tmp>
                       <div class="lds-ellipsis">
                         <div></div>
                         <div></div>
                         <div></div>
                         <div></div>
                       </div>
                     </ng-template>
                     <ng-template ng-label-tmp let-item="item">
                       <span *ngIf="item.numero">{{item.numero}}</span>
                       <span
                         *ngIf="item.numeroAncien"> ({{item.numeroAncien}}
                         )</span>
                     </ng-template>
                     <ng-template ng-option-tmp let-item="item"
                                  let-index="index"
                                  let-search="searchTerm">
                  <span *ngIf="item.numero"
                        [ngOptionHighlight]="search">{{item.numero}}</span>
                       <span *ngIf="item.numeroAncien"
                             [ngOptionHighlight]="search"> ({{item.numeroAncien}}
                         )</span>
                     </ng-template>
                   </ng-select>

                 </div>

                 <div class="sycad-form-line sycad-form-ng-select" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="45" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
                   <ng-select [items]="parcelleRemoteAutocomplte.listRessource$ | async" [typeahead]="parcelleRemoteAutocomplte.term" (change)="onChangeParcelle($event)" [loading]="parcelleRemoteAutocomplte.loading" (search)="onSearchParcelle($event)" appendTo="body" [selectOnTab]="true"
                              bindLabel="numero" bindValue="id" labelForId="parcelle" [(ngModel)]="parcelleChoisieId" placeholder="Parcelle">

                     <ng-template ng-loadingspinner-tmp>
                       <div class="lds-ellipsis">
                         <div></div>
                         <div></div>
                         <div></div>
                         <div></div>
                       </div>
                     </ng-template>
                     <ng-template ng-label-tmp let-item="item">
                       <span *ngIf="item.numero">{{item.numero}}</span>
                       <span
                         *ngIf="item.numeroAncien"> ({{item.numeroAncien}}
                         )</span>
                     </ng-template>
                     <ng-template ng-option-tmp let-item="item"
                                  let-index="index"
                                  let-search="searchTerm">
                  <span *ngIf="item.numero"
                        [ngOptionHighlight]="search">{{item.numero}}</span>
                       <span *ngIf="item.numeroAncien"
                             [ngOptionHighlight]="search"> ({{item.numeroAncien}}
                         )</span>
                     </ng-template>
                   </ng-select>
                   <!--
                       <mat-error *ngIf=" parcelle.invalid && ( parcelle.dirty ||  parcelle.touched) &&  parcelle.errors?.required">
                       Un dossier d'attribution doit obligatoire être associé à une parcelle
                   </mat-error>
                   -->
                 </div>

        </div>
        <div *ngIf="parcelleChoisie && parcelleChoisie.id"  fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
           <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
             <mat-label>ICAD</mat-label>
             <input matInput value="{{parcelleChoisie?.icad}}" [readonly]="true">
           </mat-form-field>

           <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
             <mat-label>Superficie</mat-label>
             <input matInput value="{{parcelleChoisie?.superficie}}" [readonly]="true">
           </mat-form-field>
        </div>
    <div *ngIf="parcelleChoisie && parcelleChoisie.id" fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
            <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
              <mat-label>Destination</mat-label>
              <input matInput value="{{parcelleChoisie?.destination?.libelle}}" [readonly]="true">
            </mat-form-field>
            <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
              <mat-label>Libellé de la parcelle</mat-label>
              <input matInput value="{{parcelleChoisie?.libelle}}" [readonly]="true">
            </mat-form-field>
    </div>

   <div *ngIf="parcelleChoisie && parcelleChoisie.id" fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
     <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="50" [fxFlex.lg]="55" [fxFlex.xl]="50">
       <mat-label>Etat attribution</mat-label>
       <input matInput value="{{parcelleChoisie?.etatAttribution}}" [readonly]="true">
     </mat-form-field>
     <mat-form-field appearance="outline" [fxFlex]="100" [fxFlex.xs]="100" [fxFlex.sm]="50" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="50">
       <mat-label>Etat mise en valeur</mat-label>
       <input matInput value="{{parcelleChoisie?.etatMev}}" [readonly]="true">
     </mat-form-field>
   </div>
    <div *ngIf="parcelleChoisie && parcelleChoisie.id" fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap="10px" fxLayoutAlign="start">
      <mat-form-field appearance="outline" [fxFlex]="100"
                      [fxFlex.xs]="100"
                      [fxFlex.sm]="100"
                      [fxFlex.md]="100"
                      [fxFlex.lg]="100"
                      [fxFlex.xl]="50">
        <mat-label>Délais de mise en valeur</mat-label>
        <input matInput
               value="{{parcelleChoisie?.dateEtatMev }}"
               [readonly]="true">

      </mat-form-field>
    </div>
  </div>
<!--  Partie affichage de carte-->
  <div *ngIf="parcelleChoisie && parcelleChoisie.id" [fxFlex]="100" [fxFlex.xs]="100"
       [fxFlex.sm]="100" [fxFlex.md]="100"
       [fxFlex.lg]="70" [fxFlex.xl]="70"  fxFlex="60" fxLayout="column" fxLayoutAlign="start">
    <app-parcelle-map [parcelleChoisie]="parcelleChoisie"></app-parcelle-map>
  </div>

</div>
