<button class="close" mat-button mat-dialog-close><mat-icon >close</mat-icon></button>
<h1 mat-dialog-title class="modifier-text"><span *ngIf="!quartier.id">Créer un nouveau quartier</span><span *ngIf="quartier.id">Modifier: {{quartier.nom}}</span></h1>
<div class="sycad-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> 
<form [formGroup]="quartierFormulaire" class="quartier-form" (ngSubmit)="onSubmit()">
    <div class="sycad-zone-modal-form-edition" mat-dialog-content perfectScrollbar>
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div fxFlex="90" class="container-form-field-radio">
                    <ng-select [items]="communeRemoteAutocomplete.listRessource$ | async" [typeahead]="communeRemoteAutocomplete.term" [loading]="communeRemoteAutocomplete.loading" (search)="onSearchCommune($event)" appendTo="body" [selectOnTab]="true" bindLabel="nom" bindValue="id" placeholder="Commune"
                        formControlName="commune">
                        <ng-template ng-loadingspinner-tmp>
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <mat-error *ngIf="commune.invalid && (commune.dirty || commune.touched) && commune.errors?.required">
                        Une faut au moins une commune
                    </mat-error>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Nom" [attr.autocomplete]="'off'" formControlName="nom" />
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.errors?.required">
                        Le nom est obligatoire
                    </mat-error>
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && ( nom.errors?.minlength || nom.errors?.maxlength )">
                        La nom est limité entre 2 et 150 caractères
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div mat-dialog-actions fxLayout="row" align="end">
        <button mat-raised-button color="warn" (click)="closeFormModal()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!quartierFormulaire.valid">
      <span *ngIf="!quartier.id">Enregistrer</span><span *ngIf="quartier.id">Mettre à jour</span>
    </button>
    </div>
</form>