<mat-card>
    <div class="sycad-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>


    <mat-card-header>
        <mat-card-subtitle>
            <h3>
                <span *ngIf="!retrait">Démarrer une saisie différée d'un dossier de retrait </span>
                <span *ngIf="retrait?.numero">{{transition.libelle}} : sur le dossier {{retrait.numero}}</span>
            </h3>


            <mat-error class="global-error-valiator" *ngIf="formErrors?.length>0">
                La saisie du champ "{{formErrors[0]}}" a été détectée comme erronée.
            </mat-error>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>


        <mat-tab-group  #tabGroup>
          <mat-tab *ngIf="!retrait">
            <ng-template mat-tab-label>
                <mat-icon class="sycad-form-tab-label-icon">info</mat-icon>

                 <ng-container  >Details du processus</ng-container>
            </ng-template>

            <div fxLayout="column" class="flex-p" *ngIf="authentificatedUser">

                <ng-container [ngSwitch]="true">
                  <!-- header -->

                <app-details-processus-tab-pane [processus]="processus"> </app-details-processus-tab-pane>


                <!-- button commencer, id tabGroup -> mat-tab-group -->
                  <div style="display: flex;justify-content: space-between; align-items: end;">
                    <button mat-raised-button color="primary" style=" margin-left: auto;padding:5px 5px" (click)="tabGroup.selectedIndex = tabGroup.selectedIndex + 1">
                      Commencer
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                  </div>

                </ng-container>

            </div>
        </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="sycad-form-tab-label-icon">face</mat-icon>

                    <ng-container *ngIf="retrait?.numero">Formulaire transition {{transition.libelle}}</ng-container>
                    <ng-container *ngIf="!retrait">Création d'un retrait</ng-container>
                </ng-template>

                <div fxLayout="column" class="flex-p" *ngIf="authentificatedUser">
                    <ng-container [ngSwitch]="true">


                        <ng-template [ngSwitchCase]=" transition?.code === 'SAISIE_DIFFEREE_RETRAIT_TRANSMISSION_BROUILLON' || transition?.code === 'SAISIE_DIFFEREE_RETRAIT_TRANSMISSION_VALIDE'">
                            <app-transmission-dossier (loadingEvent)="loadingEvent($event)" (formErrors)="onFormError($event)" [codeCommune]="retrait?.parcelle?.ilot?.section?.commune?.code" [dossierProcessus]="retrait" [fixedStructures]="false" [processusService]="retraitService" [transition]="transition" [frontendUrl]="getFrontendTemplate()">

                            </app-transmission-dossier>
                        </ng-template>

                        <ng-template [ngSwitchCase]="transition?.code==='SAISIE_DIFFEREE_RETRAIT_BROUILLON_TO_BROUILLON' ||transition?.code==='SAISIE_DIFFEREE_RETRAIT_BROUILLON_TO_VALIDE' ">
                            <pc-saisie-sd-retrait (loadingEvent)="loadingEvent($event)" (formErrors)="onFormError($event)" [retrait]="retrait" [transition]="transition" [processus]="processus"></pc-saisie-sd-retrait>
                        </ng-template>

                        <ng-template [ngSwitchCase]=" transition?.code === 'SAISIE_DIFFEREE_RETRAIT_BROUILLON_TO_ANNULER'">
                            <app-annulation-dossier-transition (loadingEvent)="loadingEvent($event)" (formErrors)="onFormError($event)" [dossierProcessus]="retrait" [transition]="transition" [processusService]="retraitService" [frontendUrl]="getFrontendTemplate()"></app-annulation-dossier-transition>
                        </ng-template>

                        <ng-template [ngSwitchDefault]>
                            <pc-creation-sd-retrait (loadingEvent)="loadingEvent($event)" (formErrors)="onFormError($event)" [processus]="processus"></pc-creation-sd-retrait>
                        </ng-template>


                    </ng-container>

                </div>
            </mat-tab>

            <mat-tab *ngIf="retrait?.numero">
                <ng-template mat-tab-label>
                    <mat-icon>chrome_reader_mode</mat-icon>&nbsp;Historique
                </ng-template>
                <div fxLayout="column" class="flex-p">
                    <app-historique [numero]="retrait?.numero"></app-historique>
                </div>
            </mat-tab>
            <mat-tab *ngIf="retrait">
                <ng-template mat-tab-label>
                    <mat-icon class="sycad-form-tab-label-icon">payment</mat-icon>
                    Entête de dossier
                </ng-template>

                <div fxLayout="column" class="flex-p">

                    <app-entete [numero]="retrait?.numero" [processus]="'WRKFProcessSaisieDiffereeretrait'"></app-entete>
                </div>
            </mat-tab>

            <mat-tab *ngIf="retrait">
                <ng-template mat-tab-label>
                    <mat-icon class="sycad-form-tab-label-icon">payment</mat-icon>
                    Détail du dossier
                </ng-template>

                <div fxLayout="column" class="flex-p">

                    <app-vue-sd-retrait [noOpenActions]="true"></app-vue-sd-retrait>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>







</mat-card>
