<form [formGroup]="personneContactForm" class="form-container">

    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Nom (*)</mat-label>
            <input matInput [attr.autocomplete]="'off'" formControlName="nom">

            <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.errors?.required">
                Le nom est obligatoire
            </mat-error>
        </mat-form-field>
        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Prenom (*)</mat-label>
            <input matInput [attr.autocomplete]="'off'" formControlName="prenom">
            <mat-error *ngIf="prenom.invalid && (prenom.dirty || prenom.touched) && prenom.errors?.required">
                Le prénom est obligatoire
            </mat-error>
        </mat-form-field>


    </div>
    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">




        <mat-radio-group formControlName="genre" aria-labelledby="personne-contact-genre" class="sycad-form-line container-form-field-radio " [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <label id="personne-contact-genre">Choisir le genre </label>
            <mat-radio-button value="FEMME" labelPosition="after" class="sycad-field-radio-button-horizontal">Femme</mat-radio-button>
            <mat-radio-button value="HOMME" labelPosition="after" class="sycad-field-radio-button-horizontal">Homme</mat-radio-button>

            <mat-error *ngIf="genre.invalid && (genre.dirty || genre.touched) && genre.errors?.required">
                Le genre est obligatoire
            </mat-error>
        </mat-radio-group>
        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Fonction (*)</mat-label>
            <input matInput [attr.autocomplete]="'off'" formControlName="fonction">

            <mat-error *ngIf="fonction.invalid && (fonction.dirty || nom.touched) && fonction.errors?.required">
                La fonction est obligatoire
            </mat-error>
        </mat-form-field>

    </div>



    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Email</mat-label>
            <input matInput [attr.autocomplete]="'off'" formControlName="email">

            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.required">
                Le email est obligatoire
            </mat-error>
        </mat-form-field>
        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Téléphone (*)</mat-label>
            <input matInput [attr.autocomplete]="'off'" formControlName="telephone">

            <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched) && telephone.errors?.required">
                Le telephone est obligatoire
            </mat-error>

            <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched) && telephone.errors?.pattern">
                Exemple (00226) XX XX XX XX ou (00226)XXXXXXXX ou 00226XXXXXXXX ou +226XXXXXXXX
            </mat-error>
        </mat-form-field>

    </div>




    <div fxLayout="row" fxLayoutAlign="start" [fxLayoutGap]="'20px'">

        <div class="sycad-form-line" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="70" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <ng-select [items]="civilityRemoteAutocomplete.listRessource$ | async" [typeahead]="civilityRemoteAutocomplete.term" [loading]="civilityRemoteAutocomplete.loading" (search)="onSearchCivilite($event)" appendTo="body" [selectOnTab]="true" bindLabel="libelle"
                bindValue="id" labelForId="civilite" placeholder="Cilivité (*)" formControlName="civilite">
                <ng-template ng-loadingspinner-tmp>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </ng-template>
            </ng-select>
            <mat-error *ngIf="civilite.invalid && (civilite.dirty || civilite.touched) && civilite.errors?.required">
                La civilité est obligatoire
            </mat-error>
        </div>

    </div>




    <app-adresse-form [formGroup]="adresse" [touched]="adresse.touched" [noManagedPrincipal]="true"></app-adresse-form>

</form>