.container-form-field-radio {
  margin-top: 1em;
}
.role-form {
  .ng-select {
    width: 90%;
  }
}
.sycad-zone-modal-form-edition{
  height: 60vh;
}
.modifier-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.mat-grid-list {
  overflow: hidden;
}
.label-title {
  margin-right: 10px;
  align-self: center;
}

.sycad-form-line {
  width: 100%;
  align-items: center;
}
.custom-title{
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  margin-bottom: 1em;
}
