.entete-piece {
  margin-bottom: 15px;
  padding: 2px 20px;
  background: #1b5e20;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #17191B;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.top-row {
  padding-top: 2%;
}

.sep-piece {
  margin-bottom: 15px;
  padding: 2px 20px;
  width: 10%;
  background: #1b5e20;
  color: white;
}

.taille {
  width: 100%;
}
.sycad-form-ng-select{
  margin-top: 10px;
}
