<button class="close" mat-button (click)="closeFormModal()"><mat-icon >close</mat-icon></button>

<div class="sycad-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<h3 *ngIf="updateContribuableUid == null">
    Création rapide d'un contribuable
</h3>
<h3 *ngIf="updateContribuableUid != null">
    Mise à jour rapide d'un contribuable
</h3>

<mat-tab-group>

    <mat-tab *ngIf="updateContribuableUid==null || updateContribuableType == 0">
        <ng-template mat-tab-label>
            <mat-icon class="sycad-form-tab-label-icon">account_box</mat-icon>
            Contribuable physique
        </ng-template>

        <div fxLayout="row">
            <div fxFlex="100">


                <app-rapide-contribuable-physique-form (ajouterContribuable)="ajouterContribuable($event)" [updateContribuable]="updateContribuableUid"></app-rapide-contribuable-physique-form>
            </div>
        </div>
    </mat-tab>


    <mat-tab *ngIf="updateContribuableUid==null || updateContribuableType == 1">
        <ng-template mat-tab-label>
            <mat-icon class="sycad-form-tab-label-icon">account_balance</mat-icon>
            Contribuable moral
        </ng-template>

        <div fxLayout="row">
            <div fxFlex="100">


                <app-rapide-contribuable-moral-form (ajouterContribuable)="ajouterContribuable($event)" [updateContribuable]="updateContribuableUid"></app-rapide-contribuable-moral-form>
            </div>
        </div>
    </mat-tab>

    <!-- Popup d'ajout de contribuable dans le formulaire de création de saisie différée d'attribution (http://localhost:3000/saisie-differee/attribution/edition) -->
    <!-- Ajout d'un onglet pour les indivisions -->
    <mat-tab *ngIf="updateContribuableUid==null || updateContribuableType == 2">
      <ng-template mat-tab-label>
          <mat-icon class="sycad-form-tab-label-icon">group</mat-icon>
          Indivision
      </ng-template>

      <div fxLayout="row">
          <div fxFlex="100">

              <app-rapide-contribuable-indivision-form (ajouterContribuable)="ajouterContribuable($event)" [updateContribuable]="updateContribuableUid"></app-rapide-contribuable-indivision-form>
          </div>
      </div>
    </mat-tab>


</mat-tab-group>
