.sycad-field-radio-button-horizontal {
    margin-left: 10px;
}


.sycad-field-contribuable-physique-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}


.sycad-field-contribuable-physique-radio-button {
  margin: 5px;
}
