<form [formGroup]="template" class="form-container">

    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="start" [fxLayoutGap]="'20px'">

        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" [attr.autocomplete]="'off'" formControlName="description" />

        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
          <mat-label>Code </mat-label>
          <input matInput placeholder="Code Unique" [attr.autocomplete]="'off'" formControlName="code"/>
          <button mat-icon-button matSuffix (click)="refresh()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="copyToClipboard()">
            <mat-icon>description</mat-icon>
          </button>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="start" [fxLayoutGap]="'20px'">

        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
            <mat-label>Nom du fichier</mat-label>
            <input matInput placeholder="Nom du fichier" [attr.autocomplete]="'off'" formControlName="file" [readonly]="true"/>

        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

        <div [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.lg]="100" [fxFlex.xl]="100">
            <button mat-icon-button color="warn" class="delete-icons-2" type="button">
                <mat-icon (click)="resetDropZone()">clear</mat-icon>
              </button>
              <ng-container *ngIf="parametreReport?.file">
                <span class="piece-telechargeable"> <a   href="{{parametreReport?.file | generalDownload}}">Télécharger le template</a></span>
              </ng-container>

            <dropzone class="dropzone-container" [config]="config" [message]="'Cliquez ou faites glisser le template ici'" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
            </dropzone>
        </div>

    </div>

</form>
