<button class="close" mat-button mat-dialog-close><mat-icon >close</mat-icon></button>
<h1 mat-dialog-title class="modifier-text"><span *ngIf="!statusjuridique.id">Créer un nouveau status juridique</span><span *ngIf="statusjuridique.id">Modifier: {{statusjuridique.libelle}}</span></h1>
<div class="sycad-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <div class="sycad-zone-modal-form-edition" mat-dialog-content perfectScrollbar>
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Code" [attr.autocomplete]="'off'" formControlName="code" />

                    <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && code.errors?.required">
                        Le code est obligatoire
                    </mat-error>
                    <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && ( code.errors?.minlength || code.errors?.maxlength )">
                        La code du libellé est limité entre 2 et 150 caractères
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Libellé</mat-label>
                    <input matInput placeholder="Libellé" [attr.autocomplete]="'off'" formControlName="libelle" />

                    <mat-error *ngIf="libelle.invalid && (libelle.dirty || libelle.touched) && libelle.errors?.required">
                        Le libellé est obligatoire
                    </mat-error>
                    <mat-error *ngIf="libelle.invalid && (libelle.dirty || libelle.touched) && ( libelle.errors?.minlength || libelle.errors?.maxlength )">
                        La taille du libellé est limité entre 2 et 150 caractères
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
          
        </mat-grid-list>
    </div>
    <div mat-dialog-actions fxLayout="row" align="end">
        <button mat-raised-button color="warn" type="button" (click)="closeFormModal()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formulaire.valid">
          <span *ngIf="!statusjuridique.id">Enregistrer</span><span *ngIf="statusjuridique.id">Mettre à jour</span>
        </button>
    </div>

</form>