<mat-card class="p-0 sycad-card-contribuable" *ngIf="type == 'grid'">
    <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="user-name">{{agent.civilite}}    {{agent.prenoms}} {{agent.nom}}</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon>more_vert</mat-icon>
    </button>
    </div>
    <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
        <span (mouseleave)="menuTrigger.closeMenu()">
          <button mat-menu-item (click)="onAffectation(agent);">
                <mat-icon>location_city</mat-icon>
                <span>Affecter agent</span>
          </button>

          <button mat-menu-item (click)="onGererCompte(agent);">
                <mat-icon>security</mat-icon>
                <span>Compte utilisateur</span>
          </button>

      <button mat-menu-item (click)="onEdition(agent)">
        <mat-icon>mode_edit</mat-icon>
        <span>Editer</span>
        </button>

        <button mat-menu-item (click)="onDelete(agent);">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
            </button>
        <button mat-menu-item (click)="onViewProfil(agent?.guid);">
              <mat-icon>account_circle</mat-icon>
              <span>Profil</span>
            </button>
        </span>
    </mat-menu>
    <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
            <div class="user-img">
                <img [src]=" agent | avatarLogo" class="transition-2" [class.blocked]="!agent.active">
                <mat-icon *ngIf="!agent.active" class="warn-color">block</mat-icon>
            </div>
            <div class="user-social">
                <mat-slide-toggle color="primary" [checked]="agent.active" (change)="agent.active = !agent.active"></mat-slide-toggle>
            </div>
        </div>
        <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="!agent.active">
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">person</mat-icon>
            <span><strong>{{agent.username}}</strong></span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">money</mat-icon>
                <span>{{ agent.codeUnique }}</span>
            </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">business</mat-icon>
            <span>{{agent.affectation}}</span>
          </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">portrait</mat-icon>
                <span>{{ agent.matricule }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomDeJeuneFille }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">wc</mat-icon>
                <span>{{agent.genre}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">place</mat-icon>
                <span>{{agent.lieuNaissance}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">insert_invitation</mat-icon>
                <span>{{agent.dateNaissance | date:'dd/MM/yyyy' }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">family_restroom</mat-icon>
                <span>{{ agent.situationMatrimoniale }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">star</mat-icon>
                <span>{{ agent.nationalite }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">business_center</mat-icon>
                <span>{{ agent.fonction }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">pages</mat-icon>
                <span>{{ agent.titreHonorifique }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomPere }} {{ agent.prenomsPere }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomMere }} {{ agent.prenomsMere}}</span>
            </p>

            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">mail_outline</mat-icon>
                <span>{{ agent.emails | principalContactFilter }}</span>
                <ng-template [ngIf]="agent.emails.length>0">
                    <span mat-button [matMenuTriggerFor]="listEmailActeur" class="bouton-voir-plus"> <strong>voir+</strong> </span>
                    <mat-menu #listEmailActeur="matMenu" class="sycad-menu-panel">
                        <ng-template ngFor let-email [ngForOf]="agent.emails">
                            <mat-card class="container-card-contact" click-stop-propagation>
                                <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon matListIcon *ngIf="email.principal" color="primary">mail_outline</mat-icon>
                                            <mat-icon matListIcon *ngIf="!email.principal">mail_outline</mat-icon>
                                            <h3 matLine>{{ email.value }}</h3>
                                            <p matLine>
                                                <span>{{ email.level }}</span>
                                            </p>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-menu>
                </ng-template>

            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">perm_contact_calendar</mat-icon>
                <span>{{ agent.personnesContacts?.length || 0 }} contact(s)</span>
                <ng-template [ngIf]="agent.personnesContacts.length>0">
                    <span mat-button [matMenuTriggerFor]="listPersonneContact" class="bouton-voir-plus">
                        <strong>voir+</strong>  </span>
                    <mat-menu #listPersonneContact="matMenu" class="sycad-menu-panel">
                        <ng-template ngFor let-personneContact [ngForOf]="agent.personnesContacts">
                            <mat-card class="container-card-contact">
                                <mat-card-header>
                                    <mat-card-title>{{ personneContact.prenom }} {{ personneContact.nom }}
                                    </mat-card-title>

                                </mat-card-header>
                                <mat-card-content>

                                    <mat-grid-list cols="1" rowHeight="30px">

                                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                            <mat-icon>call</mat-icon>
                                            <span>{{ personneContact.telephone }}</span>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                            <mat-icon>mail_outline</mat-icon>
                                            <span>{{ personneContact.email }}</span>
                                        </mat-grid-tile>

                                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                            <mat-icon>location_on</mat-icon>
                                            <span>{{ personneContact.adresse }}</span>
                                        </mat-grid-tile>

                                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                            <mat-icon>work</mat-icon>
                                            <span>{{ personneContact.fonction }}</span>
                                        </mat-grid-tile>

                                    </mat-grid-list>
                                </mat-card-content>

                            </mat-card>
                        </ng-template>
                    </mat-menu>
                </ng-template>
            </p>

            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">call</mat-icon>
                <span>{{ agent.telephones | principalContactFilter }}</span>
                <ng-template [ngIf]="agent.telephones.length>0">
                    <span mat-button [matMenuTriggerFor]="listTelephoneContribuable" class="bouton-voir-plus">  <strong>voir+</strong> </span>
                    <mat-menu #listTelephoneContribuable="matMenu" class="sycad-menu-panel">
                        <ng-template ngFor let-telephone [ngForOf]="agent.telephones">
                            <mat-card class="container-card-contact" click-stop-propagation>
                                <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon matListIcon *ngIf="telephone.principal" color="primary">call</mat-icon>
                                            <mat-icon matListIcon *ngIf="!telephone.principal">call</mat-icon>
                                            <h3 matLine>{{ telephone.value }}</h3>
                                            <p matLine>
                                                <span>{{ telephone.level }}</span>
                                            </p>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-menu>
                </ng-template>

            </p>



            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">payment</mat-icon>
                <span>{{agent.pieceComplementaires.length + 1}} Pièces fournies </span>

                <span mat-button [matMenuTriggerFor]="listPieceIdentite" class="bouton-voir-plus">  <strong>voir+</strong>   </span>
                <mat-menu #listPieceIdentite="matMenu" class="sycad-menu-panel">
                    <mat-card class="container-card-contact" click-stop-propagation>
                        <mat-card-header>
                            <mat-card-title>

                                <mat-icon class="muted-text" color="primary" style="font-size: 80%;">verified_user</mat-icon>
                                <span>{{agent.pieceOfficielle?.categorie?.libelle}}</span>

                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                            <mat-list>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Numéro</strong> : <span> {{agent.pieceOfficielle?.numero}}</span>
                                    </p>

                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Nip</strong> : <span> {{agent.pieceOfficielle?.nip}}</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Délivrée par </strong> : <span> {{agent.pieceOfficielle?.autoriteDeDelivrance}}</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Délivrée le</strong> : <span> {{agent.pieceOfficielle?.dateObtention | date:'dd/MM/yyyy'  }}</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Expire le</strong> : <span> {{agent.pieceOfficielle?.dateExpiration | date:'dd/MM/yyyy' }}</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info">
                                    <p matLine>
                                        <strong>Délivrée à </strong> : <span> {{agent.pieceOfficielle?.lieuDeDelivrance}}</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item class="list-item-piece-info" *ngIf="agent.pieceOfficielle?.documentPiece">
                                    <p matLine>
                                        <span> <a href="{{agent.pieceOfficielle.documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
                                    </p>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <ng-template ngFor let-pieceIdentite [ngForOf]="agent.pieceComplementaires">

                        <mat-card class="container-card-contact" click-stop-propagation>
                            <mat-card-header>
                                <mat-card-title>{{pieceIdentite.categorie}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                <mat-list>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Numéro</strong> : <span> {{pieceIdentite.numero}}</span>
                                        </p>

                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Nip</strong> : <span> {{pieceIdentite.nip}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée par </strong> : <span> {{pieceIdentite.autoriteDeDelivrance}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée le</strong> : <span> {{pieceIdentite.dateObtention  | date:'dd/MM/yyyy' }}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Expire le</strong> : <span> {{pieceIdentite.dateExpiration | date:'dd/MM/yyyy' }}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée à </strong> : <span> {{pieceIdentite.lieuDeDelivrance}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info" *ngIf="pieceIdentite.documentPiece">
                                        <p matLine>
                                            <span> <a href="{{pieceIdentite.documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>


                    </ng-template>
                </mat-menu>


            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">home</mat-icon>
                <span>{{agent.adresses.length}} adresses fournies</span>
                <ng-template [ngIf]="agent.adresses.length>0">
                    <span mat-button [matMenuTriggerFor]="listAdresseContribuable" class="bouton-voir-plus">  <strong>voir+</strong> </span>
                    <mat-menu #listAdresseContribuable="matMenu" class="sycad-menu-panel">
                        <ng-template ngFor let-adresse [ngForOf]="agent.adresses">
                            <mat-card class="container-card-contact" click-stop-propagation>
                                <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon matListIcon *ngIf="adresse.principal" color="primary">home</mat-icon>
                                            <mat-icon matListIcon *ngIf="!adresse.principal">call</mat-icon>
                                            <h3 matLine>{{ adresse.libelle }}</h3>
                                            <p matLine> <strong>Localité</strong> : <span>{{ adresse.localite }}</span> </p>
                                            <p matLine> <strong>Quartier</strong> : <span>{{ adresse.quartier }}</span> </p>
                                            <p matLine> <strong>Rue</strong> : <span>{{ adresse.rue }}</span> </p>
                                            <p matLine> <strong>Porte</strong> : <span>{{ adresse.porte }}</span> </p>
                                            <p matLine> <strong>Parcelle</strong> : <span>{{ adresse.parcelle }}</span> </p>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-menu>
                </ng-template>

            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">home</mat-icon>
                <span>{{agent.reseauSociaux.length}} reseauSociaux fournies</span>
                <ng-template [ngIf]="agent.reseauSociaux.length>0">
                    <span mat-button [matMenuTriggerFor]="listreseauSocialContribuable" class="bouton-voir-plus">  <strong>voir+</strong> </span>
                    <mat-menu #listreseauSocialContribuable="matMenu" class="sycad-menu-panel">
                        <ng-template ngFor let-reseauSocial [ngForOf]="agent.reseauSociaux">
                            <mat-card class="container-card-contact" click-stop-propagation>
                                <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                    <mat-list>
                                        <mat-list-item>

                                            <h3 matLine>{{ reseauSocial.profil }}</h3>
                                            <p matLine><span>{{ reseauSocial.type }}</span></p>

                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </mat-menu>
                </ng-template>

            </p>
        </div>
    </div>
</mat-card>

<mat-card class="p-0 sycad-card-agent" *ngIf="type == 'list'">
    <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="user-name"> {{ agent.nom }} </h3>
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon>more_vert</mat-icon>
    </button>
    </div>
    <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
        <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item (click)="onEdition(agent)">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onDelete(agent);">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        <button mat-menu-item (click)="onViewProfil(agent?.guid);">
              <mat-icon>account_circle</mat-icon>
              <span>Profil</span>
            </button>
        </span>
    </mat-menu>
    <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
            <div class="user-img">
                <img [src]="agent | avatarLogo" class="transition-2" [class.blocked]="!agent.active">
                <mat-icon *ngIf="!agent.active" class="warn-color">block</mat-icon>
            </div>
            <div class="user-social">
                <mat-slide-toggle color="primary" [checked]="agent.active" (change)="agent.active = !agent.active"></mat-slide-toggle>
            </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="!agent.active">
            <div fxFlex="50" fxFlex.xs="100" fxLayout="column">
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{agent.username}}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">money</mat-icon>
                <span>{{ agent.codeUnique }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">business</mat-icon>
                <span>{{agent.affectation}}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">portrait</mat-icon>
                <span>{{ agent.matricule }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomDeJeuneFille }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">wc</mat-icon>
                <span>{{agent.genre}}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">place</mat-icon>
                <span>{{agent.lieuNaissance}}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">insert_invitation</mat-icon>
                <span>{{agent.dateNaissance | date:'dd/MM/yyyy' }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">family_restroom</mat-icon>
                <span>{{ agent.situationMatrimoniale }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">star</mat-icon>
                <span>{{ agent.nationalite }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">business_center</mat-icon>
                <span>{{ agent.fonction }}</span>
              </p>

            </div>
            <div fxFlex="50" fxFlex.xs="100" fxLayout="column">

              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">pages</mat-icon>
                <span>{{ agent.titreHonorifique }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomPere }} {{ agent.prenomsPere }}</span>
              </p>
              <p fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="muted-text">person</mat-icon>
                <span>{{ agent.nomMere }} {{ agent.prenomsMere}}</span>
              </p>

                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">mail_outline</mat-icon>
                    <span>{{ agent.emails | principalContactFilter }}</span>
                    <ng-template [ngIf]="agent.emails.length>0">
                        <span mat-button [matMenuTriggerFor]="listEmailActeur" class="bouton-voir-plus">  <strong>voir+</strong>  </span>
                        <mat-menu #listEmailActeur="matMenu" class="sycad-menu-panel">
                            <ng-template ngFor let-email [ngForOf]="agent.emails | exceptPrincipalFilter">
                                <p mat-menu-item [class]="'detail-list-resume'" click-stop-propagation>
                                    <mat-icon>mail_outline</mat-icon>
                                    <span>({{ email.level }}) {{ email.value }}</span>
                                </p>
                            </ng-template>
                        </mat-menu>

                    </ng-template>

                </p>

                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">perm_contact_calendar</mat-icon>
                    <span>{{ agent.personnesContacts?.length || 0 }} contact(s)</span>
                    <ng-template [ngIf]="agent.personnesContacts.length>0">
                        <span mat-button [matMenuTriggerFor]="listPersonneContact" class="bouton-voir-plus"> <strong>voir+</strong>  </span>
                        <mat-menu #listPersonneContact="matMenu" class="sycad-menu-panel">
                            <ng-template ngFor let-personneContact [ngForOf]="agent.personnesContacts">
                                <mat-card class="container-card-contact">
                                    <mat-card-header>
                                        <mat-card-title>{{ personneContact.prenom }} {{ personneContact.nom }}
                                        </mat-card-title>

                                    </mat-card-header>
                                    <mat-card-content>

                                        <mat-grid-list cols="1" rowHeight="30px">

                                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                                <mat-icon>call</mat-icon>
                                                <span>{{ personneContact.telephone }}</span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                                <mat-icon>mail_outline</mat-icon>
                                                <span>{{ personneContact.email }}</span>
                                            </mat-grid-tile>

                                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                                <mat-icon>location_on</mat-icon>
                                                <span>{{ personneContact.adresse }}</span>
                                            </mat-grid-tile>

                                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                                <mat-icon>work</mat-icon>
                                                <span>{{ personneContact.fonction }}</span>
                                            </mat-grid-tile>

                                        </mat-grid-list>
                                    </mat-card-content>

                                </mat-card>
                            </ng-template>
                        </mat-menu>
                    </ng-template>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">call</mat-icon>
                    <span>{{ agent.telephones | principalContactFilter }}</span>
                    <ng-template [ngIf]="agent.telephones.length>0">
                        <span mat-button [matMenuTriggerFor]="listTelephoneContribuable" class="bouton-voir-plus">  <strong>voir+</strong>  </span>
                        <mat-menu #listTelephoneContribuable="matMenu" class="sycad-menu-panel">
                            <ng-template ngFor let-telephone [ngForOf]="agent.telephones | exceptPrincipalFilter">
                                <p mat-menu-item [class]="'detail-list-resume'" click-stop-propagation>
                                    <mat-icon>call</mat-icon>
                                    <span>({{ telephone.level }}) {{ telephone.value }}</span>
                                </p>
                            </ng-template>
                        </mat-menu>

                    </ng-template>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">payment</mat-icon>
                    <span>{{agent.pieceComplementaires.length + 1}} Pièces fournies </span>

                    <span mat-button [matMenuTriggerFor]="listPieceIdentite" class="bouton-voir-plus">  <strong>voir+</strong>   </span>
                    <mat-menu #listPieceIdentite="matMenu" class="sycad-menu-panel">

                        <mat-card class="container-card-contact" click-stop-propagation>
                            <mat-card-header>
                                <mat-card-title>

                                    <mat-icon class="muted-text" color="primary" style="font-size: 80%;">verified_user</mat-icon>
                                    <span>{{agent.pieceOfficielle?.categorie?.libelle}}</span>

                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                <mat-list>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Numéro</strong> : <span> {{agent.pieceOfficielle?.numero}}</span>
                                        </p>

                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Nip</strong> : <span> {{agent.pieceOfficielle?.nip}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée par </strong> : <span> {{agent.pieceOfficielle?.autoriteDeDelivrance}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée le</strong> : <span> {{agent.pieceOfficielle?.dateObtention  | date:'dd/MM/yyyy' }}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Expire le</strong> : <span> {{agent.pieceOfficielle?.dateExpiration | date:'dd/MM/yyyy' }}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info">
                                        <p matLine>
                                            <strong>Délivrée à </strong> : <span> {{agent.pieceOfficielle?.lieuDeDelivrance}}</span>
                                        </p>
                                    </mat-list-item>
                                    <mat-list-item class="list-item-piece-info" *ngIf="agent.pieceOfficielle?.documentPiece">
                                        <p matLine>
                                            <span> <a href="{{agent.pieceOfficielle.documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                        <ng-template ngFor let-pieceIdentite [ngForOf]="agent.pieceComplementaires">

                            <mat-card class="container-card-contact" click-stop-propagation>
                                <mat-card-header>
                                    <mat-card-title>{{pieceIdentite.categorie}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                    <mat-list>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Numéro</strong> : <span> {{pieceIdentite.numero}}</span>
                                            </p>

                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Nip</strong> : <span> {{pieceIdentite.nip}}</span>
                                            </p>
                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Délivrée par </strong> : <span> {{pieceIdentite.autoriteDeDelivrance}}</span>
                                            </p>
                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Délivrée le</strong> : <span> {{pieceIdentite.dateObtention  | date:'dd/MM/yyyy' }}</span>
                                            </p>
                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Expire le</strong> : <span> {{pieceIdentite.dateExpiration | date:'dd/MM/yyyy' }}</span>
                                            </p>
                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info">
                                            <p matLine>
                                                <strong>Délivrée à </strong> : <span> {{pieceIdentite.lieuDeDelivrance}}</span>
                                            </p>
                                        </mat-list-item>
                                        <mat-list-item class="list-item-piece-info" *ngIf="pieceIdentite.documentPiece">
                                            <p matLine>
                                                <span> <a href="{{pieceIdentite.documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
                                            </p>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>


                        </ng-template>
                    </mat-menu>


                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">home</mat-icon>
                    <span>{{agent.adresses.length}} adresses fournies</span>
                    <ng-template [ngIf]="agent.adresses.length>0">
                        <span mat-button [matMenuTriggerFor]="listAdresseContribuable" class="bouton-voir-plus">  <strong>voir+</strong> </span>
                        <mat-menu #listAdresseContribuable="matMenu" class="sycad-menu-panel">
                            <ng-template ngFor let-adresse [ngForOf]="agent.adresses">
                                <mat-card class="container-card-contact" click-stop-propagation>
                                    <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon matListIcon *ngIf="adresse.principal" color="primary">home</mat-icon>
                                                <mat-icon matListIcon *ngIf="!adresse.principal">call</mat-icon>
                                                <h3 matLine>{{ adresse.libelle }}</h3>
                                                <p matLine> <strong>Localité</strong> : <span>{{ adresse.localite }}</span> </p>
                                                <p matLine> <strong>Quartier</strong> : <span>{{ adresse.quartier }}</span> </p>
                                                <p matLine> <strong>Rue</strong> : <span>{{ adresse.rue }}</span> </p>
                                                <p matLine> <strong>Porte</strong> : <span>{{ adresse.porte }}</span> </p>
                                                <p matLine> <strong>Parcelle</strong> : <span>{{ adresse.parcelle }}</span> </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-card-content>
                                </mat-card>
                            </ng-template>
                        </mat-menu>
                    </ng-template>

                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">home</mat-icon>
                    <span>{{agent.reseauSociaux.length}} reseauSociaux fournies</span>
                    <ng-template [ngIf]="agent.reseauSociaux.length>0">
                        <span mat-button [matMenuTriggerFor]="listreseauSocialContribuable" class="bouton-voir-plus"> <strong>voir+</strong> </span>
                        <mat-menu #listreseauSocialContribuable="matMenu" class="sycad-menu-panel">
                            <ng-template ngFor let-reseauSocial [ngForOf]="agent.reseauSociaux">
                                <mat-card class="container-card-contact" click-stop-propagation>
                                    <mat-card-content fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="start">
                                        <mat-list>
                                            <mat-list-item>

                                                <h3 matLine>{{ reseauSocial.profil }}</h3>
                                                <p matLine><span>{{ reseauSocial.type }}</span></p>

                                            </mat-list-item>
                                        </mat-list>
                                    </mat-card-content>
                                </mat-card>
                            </ng-template>
                        </mat-menu>
                    </ng-template>

                </p>





            </div>

        </div>
    </div>

</mat-card>
