<button class="close" mat-button mat-dialog-close><mat-icon >close</mat-icon></button>
<h1 mat-dialog-title class="modifier-text"><span *ngIf="!localite.id">Créer une localité</span><span *ngIf="localite.id">Modifier {{localite.nom}}</span></h1>
<div class="sycad-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<form [formGroup]="formulaire" class="localite-form" (ngSubmit)="onSubmit()">
    <div class="sycad-zone-modal-form-edition" mat-dialog-content perfectScrollbar>
        <mat-grid-list cols="1" rowHeight="100px">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div fxFlex="90" class="container-form-field-radio">
                    <ng-select [items]="arrondissementRemoteAutocomplete.listRessource$ | async" [typeahead]="arrondissementRemoteAutocomplete.term" [loading]="arrondissementRemoteAutocomplete.loading" (search)="onSearchArrondissement($event)" appendTo="body" [selectOnTab]="true"
                        bindLabel="nom" bindValue="id" placeholder="Arrondissement" formControlName="arrondissement">
                        <ng-template ng-loadingspinner-tmp>
                            <div class="lds-ellipsis">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <mat-error *ngIf="arrondissement.invalid && (arrondissement.dirty || arrondissement.touched) && arrondissement.errors?.required">
                        Une faut au moins un arrondissement
                    </mat-error>
                </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Code" [attr.autocomplete]="'off'" formControlName="code" />

                    <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && code.errors?.required">
                        Le code est obligatoire
                    </mat-error>
                    <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && ( code.errors?.minlength || code.errors?.maxlength )">
                        La taille du code est limité entre 2 et 150 caractères
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Nom" [attr.autocomplete]="'off'" formControlName="nom" />

                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.errors?.required">
                        Le nom est obligatoire
                    </mat-error>
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && ( nom.errors?.minlength || nom.errors?.maxlength )">
                        La taille du nom est limité entre 2 et 150 caractères
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" fxFlex="90">
                    <mat-label>Type Localite</mat-label>
                    <mat-select formControlName="typeLocalite">
                        <mat-option [value]="typeLocalite" *ngFor="let typeLocalite of typeLocalites">
                            {{typeLocalite}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="typeLocalite.invalid && (typeLocalite.dirty || typeLocalite.touched) && typeLocalite.errors?.required">
                        Le type de Localite est obligatoire
                    </mat-error>
                    <!-- <mat-error *ngIf="typeCommune.invalid && (typeCommune.dirty || typeCommune.touched) && ( typeCommune.errors?.minlength || typeCommune.errors?.maxlength )">
              La taille du type Commune est limité entre 2 et 150 caractères
            </mat-error>  -->
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
    <div mat-dialog-actions fxLayout="row" align="end">
        <button mat-raised-button color="warn" type="button" (click)="closeFormModal()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formulaire.valid">
      <span *ngIf="!localite.id">Enregistrer</span><span *ngIf="localite.id">Mettre à jour</span>
    </button>
    </div>

</form>