.localite-form {
    .ng-select {
        width: 100%;
    }
}
.sycad-zone-modal-form-edition{
  height:100vh;
}
.modifier-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.mat-grid-list {
  overflow: hidden;
}
