<form [formGroup]="credentialForm" class="form-container">


    <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayout.xs="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
        <mat-form-field appearance="outline" class="sycad-form-line" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Nom d'utilisateur (*)</mat-label>
            <input matInput placeholder="Nom d'utilisateur" [attr.autocomplete]="'off'" formControlName="username" />

            <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors?.required">
                Le nom d'utilisateur est obligatoire
            </mat-error>
            <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && ( username.errors?.minlength || username.errors?.maxlength )">
                Le nom d'utilisateur est limité entre 2 et 150 caractères
            </mat-error>
            <mat-hint class="lds-ellipsis" *ngIf="username.status === 'PENDING'">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </mat-hint>
            <mat-hint *ngIf="username.status === 'VALID'">
                <mat-icon>insert_emoticon</mat-icon> Le nom d'utilisateur est disponible!
            </mat-hint>

            <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors?.usernameExist ">
                Ce nom d'utilisateur est indisponible
            </mat-error>
        </mat-form-field>
    </div>


    <div fxLayout="row" fxLayout..gt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
        <mat-form-field appearance="outline" class="sycad-form-line" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" [attr.autocomplete]="'off'" [type]="passwordHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="passwordHide = !passwordHide" class="sycad-element-clickable">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>

            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.minlength">
                Le mot de passe n'est pas assez long, 6 caractères minimum
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout..gt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
      <mat-form-field appearance="outline" class="sycad-form-line" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="50" [fxFlex.xl]="50">
        <mat-label>Confirmation de mot de passe</mat-label>
        <input matInput formControlName="passwordc" [attr.autocomplete]="'off'" [type]="passwordHides ? 'password' : 'text'">
        <mat-icon matSuffix (click)="passwordHides = !passwordHides" class="sycad-element-clickable">{{passwordHides ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="passwordc.errors && passwordc.errors.mustMatch">
          Le mot de passe de confirmation ne correspond pas.
        </mat-error>
      </mat-form-field>
  </div>

    <div fxLayout="row" fxLayout..gt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
        <div class="sycad-form-line container-form-field-radio" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="20" [fxFlex.xl]="20">
          <label id="contribuable-active">Activer compte</label>
          <mat-slide-toggle formControlName="active" aria-labelledby="contribuable-active"></mat-slide-toggle>
        </div>
        <div class="sycad-form-line container-form-field-radio" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="20" [fxFlex.xl]="20">
            <label id="contribuable-resetOtp">Reinitialiser OTP</label>
            <mat-slide-toggle formControlName="resetOtp" aria-labelledby="contribuable-resetOtp"></mat-slide-toggle>
        </div>
    </div>

</form>
