.mat-expansion-panel-body {
    padding-left: 3px!important;
    padding-right: 3px!important;
}
/*
.panel-header-email {
    .mat-icon {
        padding-right: 5px;
        font-size: 22px;
    }
} */

.contact-tooltip-red {
    background: #b71c1c!important;
    width: auto;
    max-width: 450px!important;
    font-size: 1em;
}
mat-divider{
    color:#e2e2e2;
}
