
mat-card-content div p {
  padding-bottom: 10px;
}

mat-card-content div p span {
  padding-left: 10px;
  margin-top: 10px;
}
.mat-icon{
  margin-top: 10px;
}
.mat-list-item{
  padding-left: 10px;
  margin-top: 10px;
}
.custom-list-item {
  height: 30px!important;
}
th, td {
  padding: 5px;
  text-align: left;
}

