.step-creation {
    margin-top: 1.5em;
}

.sycad-form-ng-select {
    margin-top: 20px;
}

.sycad-form-line-select-template {
    height: 142px;
}

.mat-horizontal-stepper-content {
    height:auto;
    //  border: 2px solid red;
  }