.animation-digit {
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: white;
    background: rgb(153, 153, 153) 20%;
    text-align: center;
    padding: 24px;
    border-radius: 60px;
    border: 2px solid #2b2a2b;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
}