.service-form {
    .ng-select {
        width: 100%;
    }
}

.sycad-zone-modal-form-edition {
    height: 40vh;
}

.modifier-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.container-card-contact {
    margin: 5px;
    box-shadow: 1px 0px 6px 2px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)!important;
}

.multiple-button {
    margin-left: 20px;
}