.input-list-popup {
    width: 80%;
}

.button-list-popup {
    border: solid 1px #ccc;
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    width: 10%;
    background-color: #1b5e20;
}

.align-btn {
    float: left;
    width: 100%;
}

.container-form-field-radio .ng-select {
    width: 100%;
}