
<mat-card *ngIf="compte">
    <mat-card-header>
        <mat-card-subtitle>
             <h3>Visualisation {{compte.objet}}</h3>
        </mat-card-subtitle>
    </mat-card-header>

   <form class="user-form">
     <mat-card-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>content_paste</mat-icon>
                    Information du dossier
                </ng-template>
                <form>

                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Objet Dossier</mat-label>
                            <input matInput placeholder="Objet dossier" value="{{compte.objet}}" [readonly]="true"/>
                        </mat-form-field>
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Numero Dossier</mat-label>
                            <input matInput placeholder="Numero dossier" value="{{compte.numero}}" [readonly]="true" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Date Creation Dossier</mat-label>
                            <input matInput placeholder="Date creation dossier" value="{{compte.dateCreationDossier | date: 'dd/MM/yyyy'}}" [readonly]="true"/>
                        </mat-form-field>
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Date Modication Dossier</mat-label>
                            <input matInput placeholder="Date modification dossier" value="{{compte.dateModificationDossier | date: 'dd/MM/yyyy'}}" [readonly]="true"/>
                        </mat-form-field>

                    </div>


                    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                      <mat-form-field  class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="30">
                        <mat-label>Etat dossier</mat-label>
                        <input matInput placeholder="Date creation dossier" value="{{compte.etat?.libelle}}" [readonly]="true"/>
                      </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                      <mat-form-field   class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="30">
                        <mat-label>Structure</mat-label>
                        <input matInput placeholder="Structure" value="{{compte?.transmission?.structure?.nom}}" [readonly]="true"/>
                      </mat-form-field>

                    </div>

                  <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                    <mat-form-field  class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                      <mat-label>Service</mat-label>
                      <input matInput placeholder="Service" value="{{compte?.transmission?.service?.nom }}" [readonly]="true"/>
                    </mat-form-field>
                    <mat-form-field  class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                      <mat-label>Bureau</mat-label>
                      <input matInput placeholder=" Bureau" value="{{compte?.transmission?.bureau?.nom }}" [readonly]="true"/>
                    </mat-form-field>

                  </div>
                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="62" [fxFlex.xl]="40">
                            <mat-label>Observation</mat-label>
                            <textarea matInput placeholder="Observation" [attr.autocomplete]="'off'"  value="{{compte.observation}}" [readonly]="true"></textarea>
                        </mat-form-field>
                    </div>

                </form>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>face</mat-icon>
                    Information du contribuable
                </ng-template>
                <form>

                  <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="30">
                      <mat-label>Numero IFU </mat-label>
                      <input matInput placeholder="Numero IFU" value="{{compte.informationsContribuable?.numeroIfu}}" [readonly]="true">
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">


                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="45" [fxFlex.xl]="30">
                      <mat-label>Prénom(s) (*)</mat-label>
                      <input matInput placeholder="Prénom(s)" value="{{compte.informationsContribuable?.prenoms}}" [readonly]="true"/>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                          <mat-label>Nom</mat-label>
                          <input matInput placeholder="Nom" value="{{compte.informationsContribuable?.nom}}" [readonly]="true"/>
                      </mat-form-field>
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                          <mat-label>Nom Jeune fille</mat-label>
                          <input matInput placeholder="Nom jeune fille" value="{{compte.informationsContribuable?.nomDeJeuneFille}}" [readonly]="true" />
                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                          <mat-label>Date de naissance (*)</mat-label>
                          <input matInput value="{{compte.informationsContribuable?.dateNaissance | date: 'dd/MM/yyyy'}}" [readonly]="true">
                      </mat-form-field>
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                          <mat-label>Lieu de naissance</mat-label>
                          <input matInput placeholder="Lieu de naissance" value="{{compte.informationsContribuable?.lieuNaissance}}" [readonly]="true"/>
                      </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                      <mat-label>Télephone </mat-label>
                      <input matInput placeholder="Telephone" value="{{compte.informationsContribuable?.telephone}}" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Email" value="{{compte.informationsContribuable?.email}}" [readonly]="true">
                    </mat-form-field>
                  </div>


                    <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Genre</mat-label>
                            <input matInput placeholder="Genre" value="{{compte.informationsContribuable?.genre}}" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Civilité</mat-label>
                            <input matInput placeholder="Civilité" value="{{compte.informationsContribuable?.civilite?.libelle}}" [readonly]="true">
                        </mat-form-field>
                    </div>
                   <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Situation matrimoniale</mat-label>
                            <input matInput placeholder="Situation matrimoniale" value="{{compte.informationsContribuable?.situationMatrimoniale.libelle}}" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Nationalité</mat-label>
                            <input matInput placeholder="Nationalité" value="{{compte.informationsContribuable?.nationalite?.libelle}}" [readonly]="true">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Matricule</mat-label>
                            <input matInput placeholder="Matricule" value="{{compte.informationsContribuable?.matricule}}" [readonly]="true" />
                        </mat-form-field>
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="50" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Fonction</mat-label>
                            <input matInput placeholder="Fonction" value="{{compte.informationsContribuable?.fonction}}" [readonly]="true" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="50" [fxFlex.xl]="30">
                        <mat-label>Structure d'affectation</mat-label>
                        <input matInput placeholder="Structure du dossier" value="{{compte.informationsContribuable.affectation?.structure?.nom}}" [readonly]="true"/>
                      </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                        <mat-label>Service</mat-label>
                        <input matInput placeholder="Bureau du dossier" value="{{compte.informationsContribuable.affectation?.service?.nom}}" [readonly]="true"/>
                      </mat-form-field>

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                        <mat-label>Bureau</mat-label>
                        <input matInput placeholder="Structure du dossier" value="{{compte.informationsContribuable.affectation?.bureau?.nom}}" [readonly]="true"/>
                      </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayout.lt-sm="row wrap" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                        <mat-label>Type de compte</mat-label>
                        <input matInput placeholder="Etat du compte" value="{{compte?.typeCompte}}" [readonly]="true">
                      </mat-form-field>
                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Profession</mat-label>
                            <input matInput placeholder="Profession" value="{{compte.informationsContribuable?.profession?.nom}}" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px"
                    fxLayoutAlign="start">

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100"
                      [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                        <mat-label>Prénom(s) du père</mat-label>
                        <input matInput placeholder="Prénom(s) du père"
                               value="{{compte.informationsContribuable?.prenomsPere}}" [readonly]="true" />
                      </mat-form-field>

                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100"
                        [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Nom du père</mat-label>
                            <input matInput placeholder="Nom du père"
                                value="{{compte.informationsContribuable?.nomPere}}" [readonly]="true" />
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap.sm="10px" fxLayoutGap.gt-sm="20px"
                    fxLayoutAlign="start">

                      <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100"
                      [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                        <mat-label>Prénom(s) de la mère</mat-label>
                        <input matInput placeholder="Prénom(s) de la mère"
                               value="{{compte.informationsContribuable?.prenomsMere}}" [readonly]="true" />
                      </mat-form-field>

                        <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100"
                        [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                            <mat-label>Nom de la mère</mat-label>
                            <input matInput placeholder="Nom de la mère"
                                value="{{compte.informationsContribuable?.nomMere}}" [readonly]="true" />
                        </mat-form-field>
                    </div>

                </form>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon>attach_file</mat-icon>
                Piece Officielle
            </ng-template>
            <form>

              <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="50" [fxFlex.xl]="30">
                  <mat-label>Catégorie Piece d'identite</mat-label>
                  <input matInput placeholder="Catégorie" value="{{compte.informationsContribuable?.pieceOfficielle?.categorie?.libelle}}" [readonly]="true">
                </mat-form-field>

              </div>

            <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>N° pièce</mat-label>
                    <input matInput placeholder="Numéro pièce" value="{{compte.informationsContribuable?.pieceOfficielle?.numero}}" [readonly]="true">
                </mat-form-field>
                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>NIP</mat-label>
                    <input matInput placeholder="NIP" value="{{compte.informationsContribuable?.pieceOfficielle?.nip}}" [readonly]="true">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>Autorité</mat-label>
                    <input matInput placeholder="Autorité de délivrance" value="{{compte.informationsContribuable?.pieceOfficielle?.autoriteDeDelivrance}}" [readonly]="true">
                </mat-form-field>
                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>Lieu de délivrance</mat-label>
                    <input matInput placeholder="Lieu de délivrance" value="{{compte.informationsContribuable?.pieceOfficielle?.lieuDeDelivrance}}" [readonly]="true">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">

                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>Date de delivrance</mat-label>
                    <input matInput placeholder="Date délivrance" value="{{compte.informationsContribuable?.pieceOfficielle?.dateObtention | date: 'dd/MM/yyyy'}}" [readonly]="true">
                </mat-form-field>
                <mat-form-field class="sycad-form-line" appearance="outline" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="30" [fxFlex.xl]="20">
                    <mat-label>Date d'expiration</mat-label>
                    <input matInput placeholder="Date d'expiration" value="{{compte.informationsContribuable?.pieceOfficielle?.dateExpiration | date: 'dd/MM/yyyy'}}" [readonly]="true">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start">
              <div class="content-container" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="45" [fxFlex.lg]="25" [fxFlex.xl]="20">
                        <span *ngIf="compte.informationsContribuable?.pieceOfficielle?.documentPiece" [fxFlex]="100"> <a href="{{compte.informationsContribuable?.pieceOfficielle?.documentPiece | generalDownload}}">Télécharger la pièce jointe</a></span>
              </div>
            </div>
            </form>

        </mat-tab>

        </mat-tab-group>
     </mat-card-content>
     </form>
</mat-card>

