.sycad-field-radio-button-horizontal {
    margin-left: 5px;
}

.container-affectation {
    padding-top: 20px;
}

.sycad-form-ng-select-start-tab {
    padding-top: 20px;
}

.sycad-field-radio-button-horizontal {
    margin-left: 5px;
}