<button class="close" mat-button mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title class="modifier-text"><span
  *ngIf="!elementLiquidation.id">Créer un élement de liquidation</span><span
  *ngIf="elementLiquidation.id">Modifier:{{elementLiquidation.libelle}}</span>
</h1>
<div class="sycad-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<form [formGroup]="formulaire"
      class="elementLiquidation-form"
      (ngSubmit)="onSubmit()">
  <div class="sycad-zone-modal-form-edition"
       mat-dialog-content perfectScrollbar>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" fxFlex="90">
          <mat-label>Code(*)</mat-label>
          <input matInput placeholder="Code(*)"
                 [attr.autocomplete]="'off'"
                 formControlName="code"/>
          <mat-hint>Le code doit commencer par SIF
          </mat-hint>
          <mat-error
            *ngIf="code.invalid && (code.dirty || code.touched) && code.errors?.required">
            Le code est obligatoire
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" fxFlex="90">
          <mat-label>Libelle(*)</mat-label>
          <input matInput placeholder="Libelle(*)"
                 [attr.autocomplete]="'off'"
                 formControlName="libelle"/>
          <mat-error
            *ngIf="libelle.invalid && (libelle.dirty || libelle.touched) && libelle.errors?.required">
            Le libelle est obligatoire
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" fxFlex="90">
          <mat-label>Signe</mat-label>
          <mat-select formControlName="signe">
            <mat-option [value]="signe"
                        *ngFor="let signe of signes">
              {{signe}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" fxFlex="90">
          <mat-label>Unité(*)</mat-label>
          <input matInput placeholder="Unité(*)"
                 [attr.autocomplete]="'off'"
                 formControlName="unite"/>
          <mat-error
            *ngIf="unite.invalid && (unite.dirty || unite.touched) && unite.errors?.required">
            L'unité est obligatoire
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" fxFlex="90">
          <mat-label>Fonction</mat-label>
          <input matInput placeholder="Fonction"
                 [attr.autocomplete]="'off'"
                 formControlName="fonctions"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div fxFlex="90">
          <ng-select
            [items]="natureImpotRemoteAutocomplete.listRessource$ | async"
            [typeahead]="natureImpotRemoteAutocomplete.term"
            [loading]="natureImpotRemoteAutocomplete.loading"
            (search)="onSearchNatureImpot($event)"
            appendTo="body" [selectOnTab]="true"
            bindLabel="libelle"
            bindValue="id" placeholder="Nature impôt"
            formControlName="natureImpot">
            <ng-template ng-loadingspinner-tmp>
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </ng-template>
          </ng-select>
        </div>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div mat-dialog-actions fxLayout="row" align="end">
    <button mat-raised-button color="warn" type="button"
            (click)="closeFormModal()">Annuler
    </button>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="!formulaire.valid">
      <span
        *ngIf="!elementLiquidation.id">Enregistrer</span><span
      *ngIf="elementLiquidation.id">Mettre à jour</span>
    </button>
  </div>

</form>
