<mat-card>
  <mat-card-header>
    <mat-card-title>{{sdSectionnementElement.etat.libelle}}</mat-card-title>
    <mat-card-subtitle>{{sdSectionnementElement.etat.description}}</mat-card-subtitle>
    <ng-container
      *ngIf="sdSectionnementElement && !noOpenActions && sdSectionnementElement?.transitions?.length>0">
      <app-action-detail-dossier
        [numero]="sdSectionnementElement.numero"
        [url]="urlAction"
        [transitions]="sdSectionnementElement.transitions"></app-action-detail-dossier>
    </ng-container>
  </mat-card-header>
  <form *ngIf="sdSectionnementElement">
    <mat-card-content>
      <mat-tab-group class="mat-tab-active-color">
        <mat-tab>
          <form>
            <ng-template mat-tab-label>
              <mat-icon>content_paste</mat-icon>
              Informations de base
            </ng-template>
            <div fxLayout="row" fxLayout.lt-md="row wrap"
                 fxLayoutGap.gt-sm="20px"
                 fxLayoutAlign="start">
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Numéro</mat-label>
                <input matInput
                       placeholder="Date de création"
                       value="{{sdSectionnementElement.numero}}"
                       [readonly]="true">
              </mat-form-field>
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Date dossier (*)</mat-label>
                <input matInput
                       value="{{sdSectionnementElement.dateCreationDossier | date:'dd/MM/yyyy'}}"
                       [readonly]="true">

              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="row wrap"
                 fxLayoutGap.gt-sm="20px"
                 fxLayoutAlign="start">
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Objet</mat-label>
                <input matInput [attr.autocomplete]="'off'"
                       value="{{sdSectionnementElement.objet}}"
                       [readonly]="true"/>
              </mat-form-field>
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Date externe (*)</mat-label>
                <input matInput
                       placeholder="Date de création"
                       value="{{sdSectionnementElement.dateExterne | date:'dd/MM/yyyy'}}"
                       [readonly]="true">

              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.lt-md="row wrap"
                 fxLayoutGap.gt-sm="20px"
                 fxLayoutAlign="start">
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Référence externe</mat-label>
                <input matInput [attr.autocomplete]="'off'"
                       value="{{sdSectionnementElement.refExterne}}"
                       [readonly]="true"/>
              </mat-form-field>
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="100"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Statut actif du dossier
                </mat-label>
                <input matInput
                       value="{{sdSectionnementElement.etatDossier | showBooleanValue}}"
                       [readonly]="true">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="row wrap"
                 fxLayout.md="row wrap"
                 fxLayoutGap.gt-sm="20px"
                 fxLayoutAlign="start">
              <mat-form-field class="sycad-form-line"
                              appearance="outline"
                              [fxFlex.xs]="100"
                              [fxFlex.sm]="45"
                              [fxFlex.md]="45"
                              [fxFlex.lg]="25"
                              [fxFlex.xl]="20">
                <mat-label>Date mise à jour</mat-label>
                <input matInput
                       placeholder="Date mise à jour"
                       value="{{sdSectionnementElement.dateDossier | date:'dd/MM/yyyy HH:mm:ss'}}"
                       [readonly]="true">
              </mat-form-field>

            </div>

          </form>
        </mat-tab>

        <mat-tab
          *ngIf="sdSectionnementElement.acteurExterne">

          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Acteur externe
          </ng-template>
          <div>
            <div fxLayout="row" fxLayout.lt-md="row wrap"
                 fxLayoutGap.gt-sm="20px"
                 fxLayoutAlign="start">
              <mat-card class="p-0 m-5" [fxFlex.xs]="100"
                        [fxFlex.sm]="100" [fxFlex.md]="80"
                        [fxFlex.lg]="60"
                        [fxFlex.xl]="50">
                <div class="bg-primary " fxLayout="row"
                     fxLayoutAlign="space-between center">
                  <h3
                    class="user-name"> {{ sdSectionnementElement.acteurExterne.denomination }} {{
                    sdSectionnementElement.acteurExterne.categorie?.libelle}}
                  </h3>
                </div>
                <div class="user-content" fxLayout="row"
                     fxLayoutAlign="space-around center">
                  <div fxFlex="30" fxLayout="column"
                       fxLayoutAlign="center center">
                    <div class="user-img">
                      <img
                        [src]="  sdSectionnementElement.acteurExterne | acteurLogo"
                        class="transition-2">
                    </div>
                  </div>
                  <div fxFlex="70" fxLayout="column"
                       class="user-details transition-2">
                    <p fxLayout="row"
                       fxLayoutAlign="start center">
                      <mat-icon class="muted-text">money
                      </mat-icon>
                      <span>{{ sdSectionnementElement.acteurExterne.codeUnique }}</span>
                    </p>
                    <p fxLayout="row"
                       fxLayoutAlign="start center">
                      <mat-icon class="muted-text">
                        calendar_today
                      </mat-icon>
                      <span>{{ sdSectionnementElement.acteurExterne.dateDeCreation | date:'dd/MM/yyyy' }}</span>
                    </p>
                    <p fxLayout="row"
                       fxLayoutAlign="start center">
                      <mat-icon class="muted-text">work
                      </mat-icon>
                      <span>{{ sdSectionnementElement.acteurExterne.statusJuridique?.libelle }}</span>
                    </p>
                    <p fxLayout="row"
                       fxLayoutAlign="start center">
                      <mat-icon class="muted-text">work
                      </mat-icon>
                      <span>{{ sdSectionnementElement.acteurExterne.sigle }}</span>
                    </p>
                    <p fxLayout="row"
                       fxLayoutAlign="start center">
                      <mat-icon class="muted-text">
                        business_center
                      </mat-icon>
                      <span>{{ sdSectionnementElement.acteurExterne.regimeFiscal?.libelle }}</span>
                    </p>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>attach_file</mat-icon>
            Pièces fournies
          </ng-template>

          <table mat-table [dataSource]="dataSourcePiece"
                 class="mat-elevation-z8" [fxFlex.xs]="100"
                 [fxFlex.sm]="100"
                 [fxFlex.md]="90" [fxFlex.lg]="80"
                 [fxFlex.xl]="70">
            <ng-container matColumnDef="categorie">
              <th mat-header-cell *matHeaderCellDef>
                Catégorie
              </th>
              <td mat-cell
                  *matCellDef="let listPiece"> {{listPiece.categorie?.categoriePiece?.libelle}} </td>
            </ng-container>
            <ng-container matColumnDef="reference">
              <th mat-header-cell *matHeaderCellDef>
                Référence
              </th>
              <td mat-cell
                  *matCellDef="let listPiece"> {{listPiece.reference}} </td>
            </ng-container>
            <ng-container matColumnDef="autorite">
              <th mat-header-cell *matHeaderCellDef>
                Autorité de délivrance
              </th>
              <td mat-cell
                  *matCellDef="let listPiece"> {{listPiece.autoriteDeDelivrance}} </td>
            </ng-container>
            <ng-container matColumnDef="dateDelivrance">
              <th mat-header-cell *matHeaderCellDef> Date de
                délivrance
              </th>
              <td mat-cell
                  *matCellDef="let listPiece"> {{listPiece.dateDelivrance | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dateExpiration">
              <th mat-header-cell *matHeaderCellDef> Date
                d'expiration
              </th>
              <td mat-cell
                  *matCellDef="let listPiece"> {{listPiece.dateExpiration| date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="imageUrl">
              <th mat-header-cell *matHeaderCellDef> Pièce
                jointe
              </th>
              <td mat-cell *matCellDef="let listPiece">

                <span *ngIf="!listPiece.pieceJointe">Aucune pièce jointe</span>
                <ng-container *ngIf="listPiece.pieceJointe">
                  <span *ngFor="let piece of listPiece.pieceJointe; let i = index"  class="piece-telechargeable"> <a   href="{{piece | generalDownload}}">Télécharger {{i+1}}</a></span>
                </ng-container>
            </td>
            </ng-container>
            <tr mat-header-row
                *matHeaderRowDef="displayedColumnsPiece"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumnsPiece;"></tr>
          </table>

        </mat-tab>

        <mat-tab>

          <ng-template mat-tab-label>
            <mat-icon>business</mat-icon>
            Structure
          </ng-template>
          <div fxLayout="row" fxLayout.sm="row wrap"
               fxLayout.xs="row wrap"
               fxLayoutGap.gt-sm="20px"
               fxLayoutAlign="start">
            <mat-form-field class="sycad-form-line"
                            appearance="outline"
                            [fxFlex.xs]="100"
                            [fxFlex.sm]="100"
                            [fxFlex.md]="70"
                            [fxFlex.lg]="50"
                            [fxFlex.xl]="50">
              <mat-label>Structure</mat-label>
              <input matInput
                     value="{{sdSectionnementElement.transmission?.structure?.nom}}"
                     [readonly]="true">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="row wrap"
               fxLayout.xs="row wrap"
               fxLayoutGap.gt-sm="20px"
               fxLayoutAlign="start">
            <mat-form-field class="sycad-form-line"
                            appearance="outline"
                            [fxFlex.xs]="100"
                            [fxFlex.sm]="100"
                            [fxFlex.md]="70"
                            [fxFlex.lg]="50"
                            [fxFlex.xl]="50">
              <mat-label>Service</mat-label>
              <input matInput
                     value="{{sdSectionnementElement.transmission?.service?.nom}}"
                     [readonly]="true">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.sm="row wrap"
               fxLayout.xs="row wrap"
               fxLayoutGap.gt-sm="20px"
               fxLayoutAlign="start">
            <mat-form-field class="sycad-form-line"
                            appearance="outline"
                            [fxFlex.xs]="100"
                            [fxFlex.sm]="100"
                            [fxFlex.md]="70"
                            [fxFlex.lg]="50"
                            [fxFlex.xl]="50">
              <mat-label>Bureau</mat-label>
              <input matInput
                     value="{{sdSectionnementElement.transmission?.bureau?.nom}}"
                     [readonly]="true">
            </mat-form-field>
          </div>

        </mat-tab>

        <mat-tab>
          <mat-tab-group>

            <ng-template mat-tab-label>
              <mat-icon>list_alt</mat-icon>
              Sections
            </ng-template>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>list_alt</mat-icon>
                Les Sections Ajoutés
              </ng-template>
              <div class="p-0">
                <div fxLayout="row wrap"
                     fxLayoutGap="10px"
                     fxLayoutAlign="start">
                  <mat-form-field appearance="standard"  [fxFlex.xs]="100"
                                  [fxFlex.sm]="100" [fxFlex.md]="90"
                                  [fxFlex.lg]="80" [fxFlex.xl]="70">
                    <mat-label>Search</mat-label>
                    <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher une section">
                    <mat-icon matSuffix (click)="clearSearch(searchInput)" class="sycad-element-clickable">
                      clear
                    </mat-icon>
                  </mat-form-field>
                  <table mat-table
                         [dataSource]="dataSourceSection"
                         class="mat-elevation-z8"
                         [fxFlex.xs]="100"
                         [fxFlex.sm]="100" [fxFlex.md]="90"
                         [fxFlex.lg]="80" [fxFlex.xl]="70">

                    <ng-container matColumnDef="numero">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numero}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="numeroAncien">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro ancien
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numeroAncien}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="commune">
                      <th mat-header-cell *matHeaderCellDef>
                        Commune
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{this.sdSectionnementElement.commune.nom}} </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumnsSections"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumnsSections;"></tr>
                  </table>
                  <mat-paginator [length]="totalElements"
                                 [pageSize]="pageSize"
                                 [pageSizeOptions]="[5, 10, 25,100]"
                                 (page)="onPageChange($event)"
                                 [fxFlex.xs]="100"
                                 [fxFlex.sm]="100" [fxFlex.md]="90"
                                 [fxFlex.lg]="80" [fxFlex.xl]="70"
                                 showFirstLastButtons>
                  </mat-paginator>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>list_alt</mat-icon>
                Les Sections Desactivés
              </ng-template>
              <div class="p-0">
                <div fxLayout="row" fxLayout="row wrap"
                     fxLayoutGap="10px"
                     fxLayoutAlign="start">

                  <table mat-table
                         [dataSource]="dataSourceSectionsADesactive"
                         class="mat-elevation-z8"
                         [fxFlex.xs]="100" [fxFlex.sm]="100"
                         [fxFlex.md]="90" [fxFlex.lg]="80"
                         [fxFlex.xl]="70">
                    <ng-container matColumnDef="numero">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numero}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="numeroAncien">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro ancien
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numeroAncien}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="commune">
                      <th mat-header-cell *matHeaderCellDef>
                        Commune
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{this.sdSectionnementElement.commune.nom}} </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumnsSections"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumnsSections;"></tr>
                  </table>

                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>list_alt</mat-icon>
                Les Sections Modifiés
              </ng-template>
              <div class="p-0">
                <div fxLayout="row" fxLayout="row wrap"
                     fxLayoutGap="10px"
                     fxLayoutAlign="start">

                  <table mat-table
                         [dataSource]="dataSourceSectionsModifier"
                         class="mat-elevation-z8"
                         [fxFlex.xs]="100"
                         [fxFlex.sm]="100" [fxFlex.md]="90"
                         [fxFlex.lg]="80" [fxFlex.xl]="70">
                    <ng-container matColumnDef="numero">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numero}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="numeroAncien">
                      <th mat-header-cell *matHeaderCellDef>
                        Numéro ancien
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{section.numeroAncien}} </td>
                    </ng-container>
                    <ng-container
                      matColumnDef="commune">
                      <th mat-header-cell *matHeaderCellDef>
                        Commune
                      </th>
                      <td mat-cell
                          *matCellDef="let section"> {{this.sdSectionnementElement.commune.nom}} </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumnsSections"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumnsSections;"></tr>
                  </table>

                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
        <mat-tab>
          <form>
            <ng-template mat-tab-label>
              <mat-icon>list_alt</mat-icon>
              Document
            </ng-template>
            <div fxLayout="row" fxLayout="row wrap" fxLayoutGap.gt-sm="20px" fxLayoutAlign="start" *ngIf="document">
              <table mat-table [dataSource]="dataSourceDocument" class="mat-elevation-z8" [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="90" [fxFlex.lg]="80" [fxFlex.xl]="70">
                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef> Numéro </th>
                  <td mat-cell *matCellDef="let document"> {{document.numero}} </td>
                </ng-container>
                <ng-container matColumnDef="libelle">
                  <th mat-header-cell *matHeaderCellDef> Libelle </th>
                  <td mat-cell *matCellDef="let document"> {{document.libelle}} </td>
                </ng-container>
                <ng-container matColumnDef="dateEdition">
                  <th mat-header-cell *matHeaderCellDef> Date d'édition </th>
                  <td mat-cell *matCellDef="let document"> {{document.dateDoc | date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="dateValidite">
                  <th mat-header-cell *matHeaderCellDef> Date de validité </th>
                  <td mat-cell *matCellDef="let document"> {{document.dateValidite | date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="typeDocument">
                  <th mat-header-cell *matHeaderCellDef>Type de document </th>
                  <td mat-cell *matCellDef="let document"> {{document.documentType.libelle}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Pièce jointe </th>
                  <td mat-cell *matCellDef="let document">


                    <span *ngIf="!document.pieceJointe">Aucune pièce jointe</span>
                    <ng-container *ngIf="document.pieceJointe">
                      <span *ngFor="let piece of document.pieceJointe; let i = index"  class="piece-telechargeable"> <a   href="{{piece | generalDownload}}">Télécharger {{i+1}}</a></span>
                    </ng-container>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocument"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDocument;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Aucune donnée ne correspond à ce filtre "{{searchInput.value}}"</td>
                </tr>
              </table>


            </div>
          </form>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>chrome_reader_mode</mat-icon>&nbsp;Historique
          </ng-template>
          <div fxLayout="row" fxLayoutAlign="start">
            <div [fxFlex.xs]="100" [fxFlex.sm]="100"
                 [fxFlex.md]="100" [fxFlex.lg]="50"
                 [fxFlex.xl]="60">
              <app-historique
                [numero]="sdSectionnementElement.numero"></app-historique>
            </div>

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </form>
</mat-card>
