.mat-snack-bar-error-message {
    width: 100%;
    padding-right: 20px;
}

.sycad-app.green-light .mat-snack-bar-container {
  color: black;
  background: var(--dynamic-bg-color, #e4aeae);
  font-weight: bolder;
}

.mat-menu-item-action {
    height: 30px;
    line-height: 30px;
    .material-icons {
        font-size: 22px;
        padding: 0px;
        margin-right: 0px;
    }
}
